{% extends '_layout.html' %}
{% set page_title = 'about' %}
{% block
custom_title %}
<title>About L&L Outdoor Lighting Co. | Outdoor Lighting Specialists </title>
{% endblock %}
{% block content %}
<main role="main">
    <!-- Breadcroumb Area -->

 	<div class="breadcroumb-area breadcroumb-area-about bread-bg">
 		<div class="container">
 			<div class="row">
 				<div class="col-lg-12">
 					<div class="breadcroumb-title text-center">
 						<h1>About Us</h1>
 						<h5><a title="Home" href="/">Home</a> / About</h5>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>

 	<!-- Intro Section-->

 	<div id="info-2" class="about-area section-padding">
 		<div class="container">
 			<div class="row">
 				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
 					<div class="about-bg">
 						<img src="/assets/img/aboutus/Skeets.jpg" alt="Skeets A. Fish, Founder">
					 </div>
					 <!-- <br />
					 <div class="row ">
						<div class="col-lg-6">
							<h5>Skeets A. Fish</h5>
							<h6>Founder</h6>
						</div>
						<div class="col-lg-6">
							<div >
								<img src="http://st.ourhtmldemo.com/new/Shelder1/assets/images/icons/signatur.png" />
							</div>
						</div>
					</div> -->

 				</div>
 				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
 					<div class="info-content-area">
 						<div class="section-title">
 							<h6>A little bit about us</h6>
 							<h2>Creative Lighting Solutions by <b>L&L Outdoor Lighting Co.</b></h2>
 						</div>
 						<p >
							 With more than a decade of proven success in outdoor lighting design and
							  installation, L&L Outdoor Lighting Co. is a family-owned & operated
							  business serving Morrisville, NC.
						</p>
						<p >
							The company's owner, Skeets A. Fish, is a master electrician by trade who unleashes his creativity when it comes to landscape lighting.  With L&L Outdoor Lighting Co. not only do you get experience, but you get true experts.
						</p>
						<p >
							Count on us to make your home shine like no other!
						</p>
						<br/>
 						<div class="row founded">
 							<div class="col-lg-4">
 								<div class="years"><span>10</span>Year of Success</div>
 							</div>
 							<div class="col-lg-8">
								<div class="row" style="border-left: 5px solid #DFB163; height: 100%">
									<div class="col-lg-5 align-self-center">
										<img src="https://www.cymolthemes.com/html/raxena/images/about-sign.png" alt="Signature"/>
									</div>
									<div class="col-lg-7 align-self-center">
										<div>
											<h5>Skeets Fish</h5>
											<h6>Founder</h6>
									   </div>
									</div>
								</div>
 							</div>
						 </div>
 					</div>
 				</div>

 			</div>
 		</div>
 	</div>


<!--
 	<div class="spacer section-padding">
 	</div> -->

 	<!-- Achievement Section -->

 	<div class="achievement-area call-to-action">
 		<div class="overlay"></div>
 		<div class="container">
 			<div class="row">
 				<div class="col-lg-12">
					 <div class="breadcroumb-title text-center">
						 <h2 style="color: white !important">Creating Lasting Impressions</h2>
						 <br>
						 <h4 style="color: #DFB163 !important">Bring The Ultimate Ambience to Your Outdoor Living</h4>
						 <br/>
						 <a title="Contact Us" class="header-btn main-btn" href="/contact.html">Contact Us</a>
					</div>
 				</div>

 				</div>
 			</div>
 		</div>
	 </div>



 	<!-- Team Area-->

 	<div class="team-area section-padding pad-top-50">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 ">
					<div class="section-title text-center">
						<h6>The Lighting Experts</h6>
						<h2>Our Dedicated <b>Team</b></h2>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="single-team-member">
						<div class="team-member-bg team-bg-1">
							<div class="team-content">
								<div class="team-title">
									<a title="Skeets Fish" href="#">Skeets Fish</a>
								</div>
								<div class="team-subtitle">
									<p>Founder/Lead Electrician</p>
								</div>
							</div>
							<!-- <div class="team-social">
								<ul>
									<li>
										<a title="Facebook" href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="LinkedIn" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="single-team-member">
						<div class="team-member-bg team-bg-2">
							<div class="team-content">
								<div class="team-title">
									<a  title="James Redfield" href="#">James Redfield</a>
								</div>
								<div class="team-subtitle">
									<p>Lighting Expert</p>
								</div>
							</div>
							<!-- <div class="team-social">
								<ul>
									<li>
										<a title="Facebook" href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="LinkedIn" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Behance" href="#"><i class="fa fa-behance" aria-hidden="true"></i> </a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="single-team-member">
						<div class="team-member-bg team-bg-3">
							<div class="team-content">
								<div class="team-title">
									<a title="James Doe" href="#">James Jeffers</a>
								</div>
								<div class="team-subtitle">
									<p>Smart Lighting Integration</p>
								</div>
							</div>
							<!-- <div class="team-social">
								<ul>
									<li>
										<a title="Facebook" href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="LinkedIn" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Behance" href="#"><i class="fa fa-behance" aria-hidden="true"></i> </a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="single-team-member">
						<div class="team-member-bg team-bg-4">
							<div class="team-content">
								<div class="team-title">
									<a title="Jimmy Van de Putte" href="#">Ray Johnson</a>
								</div>
								<div class="team-subtitle">
									<p>Lighting Designer</p>
								</div>
							</div>
							<!-- <div class="team-social">
								<ul>
									<li>
										<a title="Facebook" href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="LinkedIn" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
									</li>
									<li>
										<a title="Behance" href="#"><i class="fa fa-behance" aria-hidden="true"></i> </a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


 	<!-- Testimonial Area -->

 	<div class="testimonial-area section-padding">
 		<div class="capricorn-testimonial">
 			<div class="container">
 				<div class="row">
 					<div class="col-lg-12 text-center ">
 						<div class="section-title">
 							<h6>Testimonial</h6>
 							<h2>Customer's <b>Feedback</b></h2>
 						</div>
 					</div>
 				</div>

 				<div class="row">
 					<div class="col-lg-12">
 						<div class="team-carousel owl-carousel">
 							<div class="single-team-item">
 								<div class="testimonial-icon"><i class="las la-quote-left"></i></div>
 								<p> I was pretty pleased with the installation that was done at my
									house. They took the time to do a great design based on what I
									was looking for. They exceeded my expectations and went the
									extra mile. </p>
 								<img src="/assets/img/testimonial/julie.jfif" alt="Lorem Pixel image">
 								<div class="author-desc">
 									<h5>Julie Wenzel</h5><span>Newhaven</span>
 								</div>
 							</div>

 							<div class="single-team-item">
 								<div class="testimonial-icon"><i class="las la-quote-left"></i></div>
 								<p>L&L Outdoor Lighting Co. was able to transform my backyard into a place that I absolutely love spending time
									in. Skeets listened to my concerns and was able to install precisely what I was looking for.</p>
 								<img src="/assets/img/testimonial/tom.jfif" alt="Lorem Pixel Image">
 								<div class="author-desc">
 									<h5>Tom Barnette</h5><span>High Grove</span>
 								</div>
 							</div>

 							<div class="single-team-item">
 								<div class="testimonial-icon"><i class="las la-quote-left"></i></div>
 								<p> I highly recommend this company. They were very professional and were pretty obsessed with doing a
									perfect job. They cleaned up after themselves when the job was done.</p>
 								<img src="/assets/img/testimonial/jason.jfif" alt="Lorem Pixel image">
 								<div class="author-desc">
 									<h5>Jason Nesbit</h5><span>The Peninsula</span>
 								</div>
 							</div>

 							<div class="single-team-item">
 								<div class="testimonial-icon"><i class="las la-quote-left"></i></div>
 								<p>Ray has a spectacular vision for design and lighting and is a joy to work with. He took the time to
									understand what I was looking for and delivered above and beyond what I was looking for.</p>
 								<img src="/assets/img/testimonial/adam.jfif" alt="Lorem Pixel image">
 								<div class="author-desc">
 									<h5>Adam Revo</h5><span>Timberlake</span>
 								</div>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
	 </div>


	  <!--- Section Header -->

	  <div id="our-pledge" class="services-area section-padding" style="padding-bottom: 0">
		<div class="container">
		  <div class="row">
			<div class="offset-lg-2 col-lg-8 text-center">
			  <div class="section-title">
				<h2>Our pledge to <b>you</b>.</h2>
				<!-- <p style="font-size: 19px; color: #333">
					We know a pledge is only as good as the people behind it, which is why we remain committed to taking the lead in all aspects of our industry. We will continue to invest in the latest technologies and deliver top-notch, quality service. We will work hard to become trusted stewards of your time, your resources and your investment. And we will never, ever lose sight of what we believe.
				</p>
				<p style="font-size: 19px; color: #333">
					<b>At L&L Outdoor Lighting Co., we believe in what we do. We think you will, too.</b>
				</p> -->
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  <!--- Section 1 --->
	  <div
		id="designandinstall"
		class="about-area section-padding"
		style="padding-top: 50px"
	  >
		<div class="container">
		  <div class="row">
			<div
			  class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
			  data-wow-delay=".3s"
			>
			  <div class="info-content-area">
				<div class="section-title" >
				  <!-- <h6>Introduction</h6> -->
				  <h2>We believe doing the right thing is the right thing to do.</h2>
				</div>
				<p>
					Integrity isn’t our buzzword, it’s our business. <br/>
					We hold ourselves to the highest standards even when no one is looking.
				</p>
			  </div>
			</div>
			<div
			  class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
			  data-wow-delay=".3s"
			>
			  <div class="info-content-area">
				<div class="section-title">
				  <!-- <h6>Introduction</h6> -->
				  <h2>We believe the best way to help you is to hear you.</h2>
				</div>

				<p>We think effective communication is a two-way street.<br/>And around here, you’ll always have the right-of-way. </p>
			  </div>
			</div>
		  </div>
		  <br /><br /><br />
		  <div class="row">
			<div
			  class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
			  data-wow-delay=".3s"
			>
			  <div class="info-content-area">
				<div class="section-title">
				  <!-- <h6>Introduction</h6> -->
				  <h2>We believe that everything we do, we do for you.</h2>
				</div>
				<p>
					We didn’t become a heavy-hitter by taking our customers' needs lightly.
				<br/>Your complete satisfaction will always be our guiding passion.</p>

			  </div>
			</div>
			<div
			  class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
			  data-wow-delay=".3s"
			>
			  <div class="info-content-area">
				<div class="section-title">
				  <!-- <h6>Introduction</h6> -->
				  <h2>We Exceed Expectations</h2>
				</div>

				<p>
				  You will get our best work.
					<br/>
					We go above and beyond to ensure you are satisfied with your investment.
				</p>
			  </div>
			</div>
		  </div>

		  <br /><br /><br />
		  <div class="row">
			<div
			  class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
			  data-wow-delay=".3s"
			>
			  <div class="info-content-area" style="padding: 0 100px">

				<p>
					We know a pledge is only as good as the people behind it, which is why we remain committed to taking the lead in all aspects of our industry. We will continue to invest in the latest technologies and deliver top-notch, quality service. We will work hard to become trusted stewards of your time, your resources and your investment. And we will never, ever lose sight of what we believe.
				</p>
				<p style=" color: #333">
					<b>At L&L Outdoor Lighting Co., we believe in what we do. We think you will, too.</b>
				</p>
			  </div>
			</div>
		  </div>

		</div>
	  </div>


</main>
{% endblock content %}
