{% extends '_layout.html' %} {% set page_title = 'holiday-lighting' %} {% block custom_title %}
<title>
  Landscape Lighting Design Services | Lighting Installation | Innovative Exterior Lighting
  Installation and Design by L&L Outdoor Lighting Co.
</title>
{% endblock %} {% block content %}
<main>
  <!-- Breadcroumb Area -->

  <div class="breadcroumb-area breadcroumb-area-our-work bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Our Work</h1>
            <h5><a title="Home" href="/">Home</a> / Holidays Lighting</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Section-->

  <div id="about-1" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
          <div class="info-content-area">
            <div class="section-title">
              <h6>Luxury Outdoor Lighting</h6>
              <h2>#1 Holiday Lighting Services in <b>North Carolina</b></h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra, leo non
              imperdiet finibus, lorem tortor tincidunt dui, ut venenatis turpis nisl nec est.
              Aenean tincidunt enim a luctus vulputate. In semper augue mollis dolor volutpat
              placerat. Sed elit mauris, condimentum vitae finibus eget, vehicula nec urna. Praesent
              hendrerit ultricies pharetra.
            </p>
            <p>
              Suspendisse interdum rutrum sapien, in cursus augue placerat ut. Nam varius quam elit,
              a rutrum dolor facilisis vel. Donec iaculis elit nec dolor consequat elementum.
              Aliquam at dolor efficitur, gravida ligula vestibulum, dignissim massa. Nulla viverra,
              nibh id gravida vehicula, velit eros tincidunt quam, ut dictum velit risus at velit.
              Maecenas eget congue magna, in tempor diam.
            </p>
            <a title="About Us" href="/about.html" class="main-btn">About Us</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
          <div class="about-bg">
            <img src="/assets/img/ourwork/OurWork.jpg" alt="Lorem Pixel image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Services Area-->

  <div class="services-area section-padding">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
          <div class="section-title">
            <h2>Christmas Light Installation Process</h2>
            <p class="big-text">
              Our services are delivered by experienced teams, with specific expertise. We only work
              to the highest standards to achieve exceptional quality and finish across the services
              we provide.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a id="design" title="Go to Design and install" href="#designandinstall">
            <div class="single-service-area holiday-service wow fadeInUp" data-wow-delay=".3s">
              <div class="service-icon">
                <i class="flaticon-architecture"></i>
              </div>
              <h5>Design</h5>
              <p>
                We work with you directly to strategize a design that perfectly suits your home and
                budget. With various hues and colors to choose from, you can count on us to make
                your home furthermore exciting.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a id="lighting" title="Go to Lighting Design" href="#LightingDesign">
            <div
              class="single-service-area holiday-service service-2 wow fadeInUp"
              data-wow-delay=".4s"
            >
              <div class="service-icon">
                <i class="flaticon-floor-plan"></i>
              </div>
              <h5>Installation</h5>
              <p>
                The installation process starts in October, so you don't want to miss out! Our
                professional-grade lighting is cut out precisely to complement the structure of your
                home.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a id="lighting-upgrades" title="Go to Lightning Upgrades" href="#LightingUpgrades">
            <div
              class="single-service-area holiday-service service-3 wow fadeInUp"
              data-wow-delay=".5s"
            >
              <div class="service-icon">
                <i class="flaticon-home"></i>
              </div>
              <h5>Maintenance</h5>
              <p>
                100% of our holiday lighting and materials are warranted for the time allocated.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a id="lighting-automation" title="Go to Lightning Automation" href="#LightingAutomation">
            <div
              class="single-service-area holiday-service service-4 wow fadeInUp"
              data-wow-delay=".6s"
            >
              <div class="service-icon">
                <i class="flaticon-architect"></i>
              </div>
              <h5>Removal</h5>
              <p>
                Starting in January, a service member will inspect & remove the lighting decor to
                ensure it's ready for the next holiday season.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 2 --->

  <div class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
          <div class="about-bg">
            <img src="/assets/img/service/wiring-design.jpg" alt="Lorem Pixel image" />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <h2>Residential Christmas Light Installation</h2>
            </div>
            <p>
              The lighting installation process is centered around the homeowner and convenience.
              Our goal is to make the season brighter & unforgettable. Once you finalize the design,
              we will handle the rest. Our software is made easily accessible to allow you to send a
              work request, approve quotes, see your next service date, and much more. Service
              members are trained to provide fast solutions & a great experience. Guaranteed
              compliments from your neighbors, friends, and family!
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Area-->

  <div id="portf-2" class="portfolio-area pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title text-center">
            <h6>What Your Home Can Look Like</h6>
            <h2>See Your Home In a <b>New Light</b></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="portfolio-list recent">
            <!-- Recent Jobs from FB Photos START -->
            <div class="single-portfolio-item mt-30 port-bg-35 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-36 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-37 design"></div>
            <!-- Recent Jobs from FB 3 Photos END -->

            <!-- Most recent changes 3 photos -->
            <div class="single-portfolio-item mt-30 port-bg-32 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-33 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-34 design"></div>
            <!-- End Most recent changes 3 photos -->

            <!-- Extra pics -->
            <div class="single-portfolio-item mt-30 port-bg-29 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-30 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-31 design"></div>
            <!-- End Extra pics -->

            <div class="single-portfolio-item mt-30 port-bg-7 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-29 design"></div>
            <div class="single-portfolio-item mt-30 port-bg-30 design"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section Header -->

  <div class="services-area section-padding" style="padding-bottom: 0">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
          <div class="section-title">
            <h2>Why Choose <b>L&L Outdoor Lighting Co.</b>?</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 1 --->
  <div id="designandinstall" class="about-area section-padding" style="padding-top: 50px">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>We Guarantee All Our Work</h2>
            </div>
            <p>
              We work closely with our clients to provide the lighting design you dream of, and we
              don’t quit until we get there.
            </p>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>We Are Locally Owned</h2>
            </div>

            <p>
              We have lived and worked in the Greater Raleigh area for decades, and that local
              experience gives us a unique understanding of what our clients want.
            </p>
          </div>
        </div>
      </div>
      <br /><br /><br />
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Lighting is Our Specialty</h2>
            </div>
            <p>
              We are a team of designers and electricians who’ve spent generations perfecting the
              art of lighting.
            </p>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>We Exceed Expectations</h2>
            </div>

            <p>
              Great lighting is a work art. It broadens the senses and makes you feel more alive.
              This is the standard we hold for all of our work.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->

  <div class="contact-section gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 wow fadeInLeft">
          <div class="contact-info">
            <div class="section-title">
              <h6>Let's Connect</h6>
              <h2>Free Consultation</h2>
            </div>
            <p>
              It is our pleasure to meet new families and discuss the lighting potential for you and
              your home. We are happy to provide you with a free consultation. Just leave your phone
              number or e-mail address on the form. Be sure to visit
              <a href="/services.html">Our Services</a> page for more information on what we have to
              offer.
            </p>
            <div class="contact-content">
              <div class="contact-inner">
                <i class="las la-map-marker"></i>
                <h6>Snail Mail</h6>
                <p>7105 Sorrel Park Dr. Morrisville, NC 27560</p>
              </div>
              <div class="contact-inner">
                <i class="las la-envelope"></i>
                <h6>Email Address</h6>
                <p>sales@lloutdoorlighting.com</p>
              </div>
              <div class="contact-inner">
                <i class="las la-phone"></i>
                <h6>Call or Text</h6>
                <p>(919) 374-8344</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInRight">
          <!-- the contact form -->
          <div class="contact-form">
            <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <label for="name" class="visually-hidden">Name:</label>
                  <input name="name" type="text" placeholder="Your Name" id="name" required />
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <label for="email" class="visually-hidden">Email:</label>
                  <input type="email" type="email" id="email" placeholder="E-mail" required />
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <label for="tel" class="visually-hidden">Phone number:</label>
                  <input type="tel" id="tel" placeholder="Phone Number" name="phone-number" />
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <label for="subject" class="visually-hidden">Subject:</label>
                  <input type="text" id="subject" placeholder="Subject" name="subject" />
                </div>
                <div class="col-lg-12">
                  <label for="message" class="visually-hidden">Message:</label>
                  <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="10"
                    placeholder="Write Message"
                    required
                  ></textarea>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div
                    class="g-recaptcha"
                    data-sitekey="6LcrNVQbAAAAAFbP18Yd7UEsLxOwetYcm95v7GWX"
                    data-callback="recaptchaCallbackOurWorkForm"
                  ></div>

                  <button
                    type="submit"
                    class="main-btn"
                    name="submit"
                    disabled
                    id="our-work-form-submit-button"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- end the contact form -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
