{% extends '_layout.html' %} {% set page_title = 'home' %} {# The index
content#} {% block content %}
<main role="main">
  <!-- Hero Area -->
  <div id="" class="homepage-slides owl-carousel">
    <div class="single-slide-item hero-area-bg-1">
      <div class="overlay"></div>
      <div class="hero-area-content">
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-10 text-center wow fadeInUp animated"
              data-wow-delay=".2s"
            >
              <div class="section-title">
                <h6>Welcome to L&L Outdoor Lighting Co.</h6>
                <h1>
                  See Your Home<br />
                  In a Different Light
                </h1>
              </div>
              <a
                title="Contact us"
                href="/contact.html"
                class="main-btn"
              >
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide-item hero-area-bg-2">
      <div class="overlay"></div>
      <div class="hero-area-content">
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-10 text-center wow fadeInUp animated"
              data-wow-delay=".2s"
            >
              <div class="section-title">
                <h6>Welcome to L&L Outdoor Lighting Co.</h6>
                <h1>
                  Love Your Home <br />
                  Inside & Out
                </h1>
              </div>
              <a title="Contact us" href="/contact.html" class="main-btn"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide-item hero-area-bg-5">
      <div class="overlay"></div>
      <div class="hero-area-content">
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-10 text-center wow fadeInUp animated"
              data-wow-delay=".2s"
            >
              <div class="section-title">
                <h6>Welcome to L&L Outdoor Lighting Co.</h6>
                <h1>Light the Path <br />Home</h1>
              </div>
              <a title="Contact us" href="/contact.html" class="main-btn"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide-item hero-area-bg-6">
      <div class="overlay"></div>
      <div class="hero-area-content">
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-10 text-center wow fadeInUp animated"
              data-wow-delay=".2s"
            >
              <div class="section-title">
                <h6>Welcome to L&L Outdoor Lighting Co.</h6>
                <h1>Beauty & Security</h1>
              </div>
              <a title="Contact us" href="/contact.html" class="main-btn"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro -->

  <div class="info-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 col-12">
          <div class="info-inner wow fadeInUp" data-wow-delay=".3s">
            <div class="row no-gutters">
              <div class="col-lg-4 col-md-4 col-12 order-2 order-md-1">
                <div class="lozad info-bg-intro info-bg bg-cover"></div>
              </div>
              <div class="col-lg-8 col-md-8 col-12 order-md-2">
                <div class="info-content">
                  <h5>
                    We are North Carolina's top
                    <b>outdoor lighting design</b> company.
                  </h5>
                  <a title="View all services" href="/services.html"
                    >View All Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 wow fadeInUp" data-wow-delay=".4s">
          <div class="info-founder">
            <i class="flaticon-appartment"></i>
            <p class="highlight">10+</p>
            <p>Years <br />Experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Services Area -->

  <div id="service-3" class="services-area section-padding">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
          <div class="section-title">
            <h6>L&L Outdoor Lighting Co.</h6>
            <h2>Innovative Outdoor Lighting <b>Services</b></h2>
            <p class="big-text">
              Customers who discover L&L Outdoor Lighting Co. end up seeing
              things differently. We install landscape lighting systems for any
              style or application. All our installations stand the test of time
              as we only use high end brands installed by professionals.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".3s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/architecture3.jpeg"
                alt="A beautiful lightened house"
              />
            </div>
            <div class="service-content">
              <h3>Architecture</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".4s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/decklight.png"
                alt="A house with enlightened entrance steps"
              />
            </div>
            <div class="service-content">
              <h3>Decks</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".5s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/garden.jpg"
                alt="A beautiful garden"
              />
            </div>
            <div class="service-content">
              <h3>Gardens</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".6s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/path.jpg"
                alt="An enlightened in-house pathway"
              />
            </div>
            <div class="service-content">
              <h3>Paths & Walkways</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".7s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/hardscapes.jpeg"
                alt="A house with stone rustic entrance"
              />
            </div>
            <div class="service-content">
              <h3>Hardscapes</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service wow fadeInLeft d-flex justify-content-center" data-wow-delay=".8s">
            <div class="service-bg">
              <img
                class="lozad"
                data-src="/assets/img/service/pools.jpg"
                alt="An enlightened in-house pool"
              />
            </div>
            <div class="service-content">
              <h3>Pools</h3>
              <a title="Services" href="/services.html" class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Section-->

  <div id="about-3" class="about-area gray-bg section-padding custom-p">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp"
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <h6>Welcome</h6>
              <h2>L&L Outdoor Lighting Co.<br /><b>Lighting Design Firm</b></h2>
            </div>
            <p class="heading">
              <b
                >L&L Outdoor Lighting Co. is the premier source for all your
                outdoor lighting needs. Customer satisfaction is our ultimate
                goal as we work hard to exceed all expectations.</b
              >
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>We stand behind our work with a
              lifetime warranty.
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>Our designs are meticulously
              planned by actual certified electricians.
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>We take the extra time to do a
              quality job.
            </p>

            <p>
              We're constantly pushing the boundary of landscape lighting. We
              use innovative equipment to provide unique designs that make your
              home shine in ways you never imagined. Count on us for your next
              project!
            </p>
            <br />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg d-md-flex justify-content-md-center d-lg-block">
            <img
              class="lozad"
              data-src="/assets/img/intro2.jpg"
              alt="A house beautifully enlightened"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Key Points-->
  <div class="intro-area">
    <div class="container">
      <div class="intro-wrapper wow fadeInUp" data-wow-delay=".3s">
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="intro-inner">
              <div class="intro-icon">
                <img src="/assets/img/icon/town.png" alt="A town icon" />
              </div>
              <h5>Locally Owned</h5>
              <p>You get personalized service with us and we follow through.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="intro-inner">
              <div class="intro-icon">
                <img src="/assets/img/icon/architect.png" alt="Worker icon" />
              </div>
              <h5>Professional Staff</h5>
              <p>
                Everyone involved in the installations is an expert in lighting.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="intro-inner">
              <div class="intro-icon">
                <img
                  src="/assets/img/icon/house-design.png"
                  alt="House design icon"
                />
              </div>
              <h5>Unique Designs</h5>
              <p>We craft the ultimate lighting design for your home.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="intro-inner">
              <div class="intro-icon">
                <img
                  src="/assets/img/icon/blueprint.png"
                  alt="Blueprint icon"
                />
              </div>
              <h5>Superior Service</h5>
              <p>
                A superior customer experience is our ultimate goal. See our
                <a href="about.html#our-pledge">pledge</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Area-->
  <div class="portfolio-area section-padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h6>What Your Home Can Look Like</h6>
            <h2>We Craft Stunning Lighting <b>Masterpieces</b></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="portfolio-list recent">
            <!-- Most Recent Jobs Photos Start -->
            <div
              class="lozad single-portfolio-item wow my-2 fadeInUp"
              data-wow-delay=".2s"
              data-background-image="../assets/img/samplework/homepage_01_bp.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div
              class="lozad single-portfolio-item wow my-2 fadeInUp"
              data-wow-delay=".3s"
              data-background-image="../assets/img/samplework/homepage_02_bp.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
            <!-- Most Recent Jobs Photos End -->
            <div
              class="lozad single-portfolio-item wow my-2 fadeInUp"
              data-wow-delay=".2s"
              data-background-image="../assets/img/samplework/frontyard1.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div
              class="lozad single-portfolio-item wow my-2 fadeInUp"
              data-wow-delay=".3s"
              data-background-image="../assets/img/samplework/frontyard2.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

            <div
              class="lozad single-portfolio-item my-2 wow fadeInUp"
              data-wow-delay=".4s"
              data-background-image="../assets/img/samplework/backyard2.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Seascape Villa</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>

            <div
              class="lozad single-portfolio-item my-2 wow fadeInUp"
              data-wow-delay=".5s"
              data-background-image="../assets/img/samplework/backyard3.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div
              class="lozad single-portfolio-item my-2 wow fadeInUp"
              data-wow-delay=".4s"
              data-background-image="../assets/img/samplework/backyard1.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Seascape Villa</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>

            <div
              class="lozad single-portfolio-item my-2 wow fadeInUp"
              data-wow-delay=".5s"
              data-background-image="../assets/img/samplework/poolarea.jpg"
            >
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Achievement Section -->

  <div
    id="style-2"
    class="achievement-area section-padding"
    style="padding-top: 0"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-counter-box">
            <p class="counter-number"><span>4458</span>+</p>
            <h6>Fixtures Installed</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-counter-box">
            <p class="counter-number"><span>286</span>+</p>
            <h6>Happy Customers</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-counter-box">
            <p class="counter-number"><span>11,500</span>+</p>
            <h6>Impressed Observers</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-counter-box">
            <p class="counter-number"><span>10</span>+</p>
            <h6>Years of Experience</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 1 --->

  <div id="LightingDesign" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Increase Your Home's <br /><b>Visual Appeal</b></h2>
            </div>
            <p>
              You have a substantial investment in your home and a
              professionally landscaped property will enhance your long term
              investment. They say first impression is everything and the first
              impression of a well illuminated property can add up to 20% to the
              value of your home. Homeowners rely on L&L Outdoor Lighting Co. to
              create lighting designs that showcase their home in a way that
              increases its value.
            </p>
            <p class="heading">
              <b
                >Few things will impact your home’s curb appeal more than a
                quality lighting design.</b
              >
            </p>
            <!-- <br>
            <div class="main-btn small-btn">Learn More</div> -->
          </div>
        </div>
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              class="lozad"
              data-src="/assets/img/curbappeal.jpg"
              alt="A house surrounded by trees"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 2 --->
  <div id="LightingUpgrades" class="about-area section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              class="lozad"
              data-src="/assets/img/outdoor-living2.jpg"
              alt="A house surrounded by trees"
            />
          </div>
        </div>
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            order-lg-2
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <h2>Enjoy <b>More</b> of Your Home</h2>
            </div>
            <!-- <p class="heading"><b>With the latest technologies in lighting controls, we can turn your lighting into the latest and greatest.</b></p> -->
            <p>
              Landscape lighting will dramatically enhance your home and extend
              your living spaces to include the outdoor environment, providing
              your home with extended space and visual interest. Even modest
              homes or those with limited yards can benefit from landscape
              lighting. Enjoy your entertainment spaces more than ever as you're
              able to make good use of outdoor barbeque areas, relaxation
              lounges, multi-level decks, pool and spa areas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 3 --->

  <div id="LightingDesign" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>
                Lots of Lighting, <br />
                Little Power Consumption
              </h2>
            </div>
            <p>
              All our lighting installations consist of the latest in low
              voltage fixtures and LED bulbs. To give you an idea, a regular
              lightbulb you might have inside your house consumes about 60W of
              electricty. On the other hand, one of our brightest LED bulbs
              consumes about 5W. That means you get all the benefits of outdoor
              lighting without consuming much more electricity. Total power
              consumed by a typical installation will likely be less than even
              the home's master bathroom.
            </p>
            <p class="heading"><b> Light-Smart - All About Saving</b></p>
            <!-- <br>
              <div class="main-btn small-btn">Learn More</div> -->
          </div>
        </div>
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              class="lozad"
              data-src="/assets/img/transformer.jpg"
              alt="A photo collage of different houses lighting setup"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 4 --->
  <div id="LightingUpgrades" class="about-area section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              class="lozad"
              data-src="/assets/img/homeautomation3.jpg"
              alt="An image of domotic control"
            />
          </div>
        </div>
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            order-lg-2
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Latest in Lighting Technology</h2>
            </div>
            <p class="heading">
              <b
                >With the latest technologies in lighting controls and home
                automation, we can simplify your life.</b
              >
            </p>

            <p>"Hey Alexa, turn on the landscape lights".</p>
            <p>"Hey Google, turn on the path lights".</p>
            <p>
              Advancements in LED lighting have made your choices even more
              attractive and add long term value to your property. With the
              technology we offer, you can control your home even from the other
              side of the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Section 5 --->
  <div id="about-3" class="about-area gray-bg section-padding custom-p">
    <div class="container">
      <div class="row">
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Safety and Security</h2>
            </div>
            <!-- <p class="heading"><b>We believe the designer willl be able to design a good for learnin suit lead project. We are readly to create various architechural design.</b></p> -->

            <p>
              A well-lit property is proven to deter potential intruders by
              illuminating and providing visibility in all areas. L&L Outdoor
              Lighting Co. combines form and function to make your home safer
              and more beautiful. Proper lighting such as area lighting, step
              lighting and path lighting are considered to provide safe passage
              for each individual area of your home.
            </p>
            <br />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              class="lozad"
              data-src="/assets/img/safetyandsecurity.jpg"
              alt="A beautiful enlightened house"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Brands Area-->
  <div class="clients-area section-padding">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
          <div class="section-title">
            <h6>We use the best brands</h6>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div id="clients-slider" class="clients-slider owl-carousel">
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/Cooper.png"
              alt="clients-1"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/Unique.png"
              alt="clients-2"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/Kichler.png"
              alt="clients-3"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/WAC.png"
              alt="clients-4"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/FXLuminaire.png"
              alt="clients-5"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/volt.png"
              alt="clients-5"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/Hinkley.png"
              alt="clients-5"
            />
          </div>
          <div class="item-clients-img">
            <img
              class="img-fluid"
              src="/assets/img/brands/Eaton.png"
              alt="clients-5"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial Area -->

  <div class="testimonial-area-2 section-padding">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h6>We Offer Superior Customer Service</h6>
            <h2 style="color: white">Customer <b>Feedback</b></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="testimonial-carousel owl-carousel">
            <div class="single-testimonial-item">
              <div class="testimonial-avatar">
                <img
                  src="/assets/img/testimonial/julie.jfif"
                  alt="Lorem Pixel image"
                />
              </div>
              <div class="testimonial-content">
                <div class="testimonial-icon-before">
                  <i class="las la-quote-left"></i>
                </div>
                <p>
                  I was pretty pleased with the installation that was done at my
                  house. They took the time to do a great design based on what I
                  was looking for. They exceeded my expectations and went the
                  extra mile. I highly recommend Joe and his staff. They are
                  true professionals.
                </p>
                <div class="testimonial-icon-after">
                  <i class="las la-quote-right"></i>
                </div>
                <h4>Julie Wenzel <span>Raleigh</span></h4>
              </div>
            </div>

            <div class="single-testimonial-item">
              <div class="testimonial-avatar">
                <img
                  src="/assets/img/testimonial/tom.jfif"
                  alt="Lorem Pixel image"
                />
              </div>
              <div class="testimonial-content">
                <div class="testimonial-icon-before">
                  <i class="las la-quote-left"></i>
                </div>
                <p>
                  L&L Outdoor Lighting Co. was able to transform my backyard
                  into a place that I absolutely love spending time in. Joe
                  listened to my concerns and was able to install precisely what
                  I was looking for.
                </p>
                <div class="testimonial-icon-after">
                  <i class="las la-quote-right"></i>
                </div>
                <h4>Tom Barnette <span>Morrisville</span></h4>
              </div>
            </div>

            <div class="single-testimonial-item">
              <div class="testimonial-avatar">
                <img
                  src="/assets/img/testimonial/jason.jfif"
                  alt="Lorem Pixel image"
                />
              </div>
              <div class="testimonial-content">
                <div class="testimonial-icon-before">
                  <i class="las la-quote-left"></i>
                </div>
                <p>
                  I highly recommend this company. They were very professional
                  and were pretty obsessed with doing a perfect job. They
                  cleaned up after themselves when the job was done.
                </p>
                <div class="testimonial-icon-after">
                  <i class="las la-quote-right"></i>
                </div>
                <h4>Jason Nesbit<span>Knightsdale</span></h4>
              </div>
            </div>

            <div class="single-testimonial-item">
              <div class="testimonial-avatar">
                <img
                  src="/assets/img/testimonial/adam.jfif"
                  alt="Lorem Pixel image"
                />
              </div>
              <div class="testimonial-content">
                <div class="testimonial-icon-before">
                  <i class="las la-quote-left"></i>
                </div>
                <p>
                  Joe has a spectacular vision for design and lighting and is a
                  joy to work with. He takes the time to understand his clients
                  and delivers above and beyond expectation. He is the only one
                  I trust for my outdoor lighting.
                </p>
                <div class="testimonial-icon-after">
                  <i class="las la-quote-right"></i>
                </div>
                w
                <h4>Adam Revo<span>Holly Springs</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lighting Tips Section -->
  <!--
  <div id="pre-footer" class="blog-area gray-bg section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title">
            <h6>Read</h6>
            <h2>Lighting Tips and <b>Insights</b></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog wow fadeInLeft" data-wow-delay=".3s">
            <a title="Go to blog entry" href="/single-blog.html" class="blog-img"><img class="lozad img-fluid"
                data-src="/assets/img/blog/diyelectrician.jpg" alt="Generic blog image" /></a>
            <div class="blog-content">
              <span><a title="Home" href="#">Interior Design</a></span>
              <h3>
                <a title="Go to blog entry" href="/diy.html">Why "Do-it-yourself" Is Not Always Good</a>
              </h3>
              <div class="blog-date">
                <p>May 19, 2021</p>
              </div>
              <a title="Go to blog entry" href="/diy.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog wow fadeInLeft" data-wow-delay=".5s">
            <a title="Go to blog entry" href="/led-lighting-benefits.html" class="blog-img"><img class="lozad img-fluid"
                data-src="/assets/img/blog/installers.jpg" alt="Generic blog image of installers" /></a>
            <div class="blog-content">
              <span><a title="Home" href="#">Architecture</a></span>
              <h3>
                <a title="Go to blog entry" href="/led-lighting-benefits.html">The Benefits of LED Low Voltage
                  Lighting</a>
              </h3>
              <div class="blog-date">
                <p>May 23, 2021</p>
              </div>
              <a title="Go to blog entry" href="/single-blog.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog wow fadeInLeft" data-wow-delay=".7s">
            <a title="Go to blog entry" href="/single-blog.html" class="blog-img"><img class="lozad img-fluid"
                data-src="/assets/img/blog/homeautomation.jpg" alt="Home automation image" /></a>
            <div class="blog-content">
              <span><a title="Home" href="#">Exterior Design</a></span>
              <h3>
                <a title="Go to blog entry" href="/home-automation.html">Simplify Life With Home Automation and Add
                  Security</a>
              </h3>
              <div class="blog-date">
                <p>June 07, 2019</p>
              </div>
              <a title="Go to blog entry" href="/home-automation.html" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</main>
{% endblock %}
