{% extends '_layout.html' %} {% set page_title = 'our-work' %}
{% block
custom_title %}
<title>Lighting Projects by L&L Outdoor Lighting Co. | Accent Lights, Path Lights, Deck Lighting, Patio Lighting, Backyard Lighting, Garden Lighting, Architecture</title>
{% endblock %}
{% block content
%}
<main role="main">
  <!-- Breadcroumb Area -->

  <div class="breadcroumb-area breadcroumb-area-our-work bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Our Work</h1>
            <h5><a title="Home" href="/">Home</a> / Our Work</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Section-->

  <div id="about-1" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
          <div class="about-bg">
            <img src="/assets/img/ourwork/OurWork.jpg" alt="Lorem Pixel image" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
          <div class="info-content-area">
            <div class="section-title">
              <h6>Work that exceeds expectations</h6>
              <h2>Fixture by Fixture we <b>Brighten Your Home</b></h2>
            </div>
            <p>
              Your home is a place of rest, connection, and comfort. It’s where you can be your most authentic self.
              Landscape lighting takes your space from typical to extraordinary, enhancing your experience, enriching
              relationships, and letting your home shine.
            </p>
            <p>We are honored to do this work and have helped the greater Raleigh and Morrisville City areas have more
              ease, fun, and delight in their homes for more than ten years. Please see how our customers’ lives are
              brighter with indoor and outdoor lighting.</p>
            <!-- <hr />
            <div class="founded">
              <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-12">
                  <img src="/assets/img/founder-bg.jpg" alt="Lorem Pixel image" />
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                  <p>
                    Our Renowned Architecture Company <br />
                    founded in 1987
                  </p>
                </div>
              </div>
            </div>
            <hr /> -->
            <p class="heading">
              <b>Our work is proven to provide more relaxation, more fulfillment, and more savings for you.</b>
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>Since our launch in 2010, we have served 1,037 families and businesses.
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>We work hand-in-hand to achieve the look and feel you desire.
            </p>
            <p class="highlight">
              <i class="las la-check-square"></i>Clients tell us no other facade upgrade is as effective for improving
              lifestyle inside and out of the house.
            </p>
            <br />
            <a title="About Us" href="/about.html" class="main-btn">About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Area-->

  <div id="portf-2" class="portfolio-area pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h2>See Your Home In a <b>New Light</b></h2>
          </div>
          <ul class="port-menu recent">
            <li data-filter="*" class="active">All</li>
            <li data-filter=".design">Front Facades</li>
            <li data-filter=".brand">Backyards</li>
            <li data-filter=".illustration">Pools</li>
            <li data-filter=".print">Decks</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="portfolio-list recent">
            <!-- Recent Jobs from FB Photos START -->
            <div class="single-portfolio-item mt-30 port-bg-35 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
<div class="single-portfolio-item mt-30 port-bg-36 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
<div class="single-portfolio-item mt-30 port-bg-37 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
<!-- Recent Jobs from FB 3 Photos END -->

            <!-- Most recent changes 3 photos -->
            <div class="single-portfolio-item mt-30 port-bg-32 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

                        <div class="single-portfolio-item mt-30 port-bg-33 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

                        <div class="single-portfolio-item mt-30 port-bg-34 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
<!-- End Most recent changes 3 photos -->

<!-- Extra pics -->
            <div class="single-portfolio-item mt-30 port-bg-29 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

                        <div class="single-portfolio-item mt-30 port-bg-30 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

                        <div class="single-portfolio-item mt-30 port-bg-31 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>
<!-- End Extra pics -->

            <div class="single-portfolio-item mt-30 port-bg-7 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Seascape Villa</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-8 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-9 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Seascape Villa</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-10 print brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-11 brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-12 design ">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Seascape Villa</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-13  brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-14 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-15  brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-16 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-17 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-18 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-20 brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-21 brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-22  print brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-23 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-24  brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-25  print brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-26  design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-27 design  ">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-28  brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-1 design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-2  design">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>

            <div class="single-portfolio-item mt-30 port-bg-3 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Test</h4>
                <div class="portfolio-category">Aqaba, Jordan</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-4  print brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Handebr The Villa</h4>
                <div class="portfolio-category">Rotterdam, Netherlands</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-5 brand">
              <div class="portfolio-content">
                <h4 class="portfolio-title">Alvar Alto Museum</h4>
                <div class="portfolio-category">Casablanca, Morocco</div>
              </div>
            </div>
            <div class="single-portfolio-item mt-30 port-bg-6 illustration">
              <div class="portfolio-content">
                <h4 class="portfolio-title">European Lord Station</h4>
                <div class="portfolio-category">Strasbourg, France</div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!-- Achievement Section -->

    <div class="achievement-area">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-counter-box">
              <div class="service-icon">
                <i class="flaticon-medieval-house"></i>
              </div>
              <p class="counter-number"><span>1037</span>+</p>
              <h6>Residential Projects Completed</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-counter-box">
              <div class="service-icon">
                <i class="flaticon-architecture"></i>
              </div>
              <p class="counter-number"><span>12</span>+</p>
              <h6>Qualified Lighting Specialists</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-counter-box">
              <div class="service-icon">
                <i class="flaticon-blueprint"></i>
              </div>
              <p class="counter-number"><span>1286</span>+</p>
              <h6>Happy Customers</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-counter-box">
              <div class="service-icon">
                <i class="flaticon-appartment"></i>
              </div>
              <p class="counter-number"><span>236</span>+</p>
              <h6>Commercial Projects</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--- Section Header -->

    <div class="services-area section-padding" style="padding-bottom: 0">
      <div class="container">
        <div class="row">
          <div class="offset-lg-2 col-lg-8 text-center">
            <div class="section-title">
              <h2>Why Choose <b>L&L Outdoor Lighting Co.</b>?</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--- Section 1 --->
    <div id="designandinstall" class="about-area section-padding" style="padding-top: 50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0" data-wow-delay=".3s">
            <div class="info-content-area">
              <div class="section-title">
                <!-- <h6>Introduction</h6> -->
                <h2>We Gurantee All Our Work</h2>
              </div>
              <p>
                We work closely with our clients to provide the lighting design you dream of, and we don’t quit until we
                get there.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0" data-wow-delay=".3s">
            <div class="info-content-area">
              <div class="section-title">
                <!-- <h6>Introduction</h6> -->
                <h2>We Are Locally Owned</h2>
              </div>

              <p>
                We have lived and worked in the Greater Atlanta area for decades, and that local experience gives us a
                unique understanding of what our clients want.
              </p>
            </div>
          </div>
        </div>
        <br /><br /><br />
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0" data-wow-delay=".3s">
            <div class="info-content-area">
              <div class="section-title">
                <!-- <h6>Introduction</h6> -->
                <h2>Lighting is Our Specialty</h2>
              </div>
              <p>
                We are a team of designers and electricians who’ve spent generations perfecting the art of lighting.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0" data-wow-delay=".3s">
            <div class="info-content-area">
              <div class="section-title">
                <!-- <h6>Introduction</h6> -->
                <h2>We Exceed Expectations</h2>
              </div>

              <p>
                Great lighting is a work art. It broadens the senses and makes you feel more alive. This is the standard
                we hold for all of our work.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Section -->

    <div class="contact-section gray-bg section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 wow fadeInLeft">
            <div class="contact-info">
              <div class="section-title">
                <h6>Let's Connect</h6>
                <h2>Free Consultation</h2>
              </div>
              <p>
                It is our pleasure to meet new families and discuss the lighting potential for you and your home. We are
                happy to provide you with a free consultation. Just leave your phone number or e-mail address on the
                form. Be sure to visit <a href="/services.html">Our Services</a> page for more information on what we
                have to offer.
              </p>
              <div class="contact-content">
                <div class="contact-inner">
                  <i class="las la-map-marker"></i>
                  <h6>Snail Mail</h6>
                  <p>1992 GA-54 W
                    Morrisville, NC 27560</p>
                </div>
                <div class="contact-inner">
                  <i class="las la-envelope"></i>
                  <h6>Email Address</h6>
                  <p>sales@lloutdoorlighting.com</p>
                </div>
                <div class="contact-inner">
                  <i class="las la-phone"></i>
                  <h6>Call or Text</h6>
                  <p>(404) 666-1742</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 wow fadeInRight">
            <!-- the contact form -->
            <div class="contact-form">
              <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <label for="name" class="visually-hidden">Name:</label>
                    <input name="name" type="text" placeholder="Your Name" id="name" required />
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <label for="email" class="visually-hidden">Email:</label>
                    <input type="email" type="email" id="email" placeholder="E-mail" required />
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <label for="tel" class="visually-hidden">Phone number:</label>
                    <input type="tel" id="tel" placeholder="Phone Number" name="phone-number" />
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <label for="subject" class="visually-hidden">Subject:</label>
                    <input type="text" id="subject" placeholder="Subject" name="subject" />
                  </div>
                  <div class="col-lg-12">
                    <label for="message" class="visually-hidden">Message:</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Write Message"
                      required></textarea>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="g-recaptcha" data-sitekey="6LcONUoaAAAAAImt_sLs-TAmaWYOy7Fsgn59axoF" data-callback="recaptchaCallbackOurWorkForm"></div>


                    <button type="submit" class="main-btn" name="submit" disabled id="our-work-form-submit-button">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- end the contact form -->
          </div>
        </div>
      </div>
</main>
{% endblock content %}
