{% extends '_layout.html' %}
{% set page_title = 'services' %}
{% block
custom_title %}
<title>Landscape Lighting Design Services | Lighting Installation | Innovative Exterior Lighting Installation and Design by L&L Outdoor Lighting Co.</title>
{% endblock %}
{% block content %}
<main role="main">
	<!-- Breadcroumb Area -->

	<div class="breadcroumb-area bread-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcroumb-title text-center">
						<h1>Services</h1>
						<h5><a title="Home" href="/">Home</a> / Services</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Area-->

	<div class="services-area section-padding">
		<div class="container">
			<div class="row">
				<div class="offset-lg-2 col-lg-8 text-center">
					<div class="section-title">
						<h2>What We Do</h2>
						<p class="big-text">Our services are delivered by experienced teams, with specific expertise. We
							only work to the highest standards to achieve exceptional quality and finish across the
							services we provide.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="design" title="Go to Design and install" href="#designandinstall">
						<div class="single-service-area wow fadeInUp" data-wow-delay=".3s">
							<div class="service-icon">
								<i class="flaticon-architecture"></i>
							</div>
							<h5>Full Design and Install</h5>
							<p>We'll come up with a lighting design from scratch and implement every piece of it.</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="lighting" title="Go to Lighting Design" href="#LightingDesign">
						<div class="single-service-area service-2 wow fadeInUp" data-wow-delay=".4s">
							<div class="service-icon">
								<i class="flaticon-sketch"></i>
							</div>
							<h5>Wiring Design Services</h5>
							<p>Are you the DIY type? We'll design the optimal wiring plan and list out all the parts you
								need.</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="lighting-upgrades" title="Go to Lightning Upgrades" href="#LightingUpgrades">
						<div class="single-service-area service-3 wow fadeInUp" data-wow-delay=".5s">
							<div class="service-icon">
								<i class="flaticon-floor-plan"></i>
							</div>
							<h5>Lighting Upgrades</h5>
							<p>Do you have an existing system? Perhaps it's high voltage or halogen based. We'll update
								it to the latest.</p>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="lighting-automation" title="Go to Lightning Automation" href="#LightingAutomation">
						<div class="single-service-area service-4 wow fadeInUp" data-wow-delay=".6s">
							<div class="service-icon">
								<i class="flaticon-home"></i>
							</div>
							<h5>Lighting Automation</h5>
							<p>We leverage the latest technology in lighting controls to make your life simpler with
								automated systems.</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="repair" title="Go to Repair and Maintenance" href="#RepairAndMaintenance">
						<div class="single-service-area service-5 wow fadeInUp" data-wow-delay=".7s">
							<div class="service-icon">
								<i class="flaticon-city-hall"></i>
							</div>
							<h5>Repair and Maintenance</h5>
							<p>We can troubleshoot existing lighting system you might have to get it back into working
								order.</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a id="commercial-services" title="Go to Commercial Services" href="#CommercialServices">
						<div class="single-service-area service-6 wow fadeInUp" data-wow-delay=".8s">
							<div class="service-icon">
								<i class="flaticon-town"></i>
							</div>
							<h5>Commercial Lighting</h5>
							<p>We're not limited to just residential installations. We handle business needs as well.
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Achievement Section -->

	<div class="achievement-area">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcroumb-title text-center">
						<h2 style="color: white !important">Creating Lasting Impressions</h2>
						<br>
						<h4 style="color: #DFB163 !important">Bring Ambience and Security to Your Outdoor Living</h4>
						<br />
						<a title="Contact Us" class="header-btn main-btn" href="/contact.html">Contact Us</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>

	<!--- Section Header -->


	<div class="services-area section-padding" style="padding-bottom: 0">
		<div class="container">
			<div class="row">
				<div class="offset-lg-2 col-lg-8 text-center">
					<div class="section-title">
						<h2>Lighting Services</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--- Section 1 --->
	<div id="designandinstall" class="about-area section-padding" style="padding-top: 50px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft " data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/service/landscape-design.jpg" alt="Lorem Pixel image">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".3s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Complete Lighting Design and Installation</h2>
						</div>
						<p class="heading">We will design from scartch and fully install a lighting system that will
							illuminate your house the best based on your preferences and budget. We carefully plan
							everything about an installation from the wires that are used to the lights before we start
							installing.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--- Section 2 --->

	<div id="LightingDesign" class="about-area gray-bg section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".4s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Wiring Design Service</h2>
						</div>
						<p class="heading"><b>We get it, sometimes you just want to do the work yourself. We'll guide
								you in the right direction!</b></p>

						<p>We'll design an optimal wiring plan and point you in the right direction on how to install.
							Even if you do it yourself, have us design it so it's done right. You may not get the full
							potential if installed incorrectly or the wrong parts are used. We'll come up with a
							lighting plan that will ensure you are not overloading the transformer and run into issues
							such as voltage drops.</p>
						<br>
					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/service/wiring-design.jpg" alt="Lorem Pixel image">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--- Section 3 --->
	<div id="LightingUpgrades" class="about-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft" data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/service/lighting-upgrades.jpg" alt="Lorem Pixel image">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".3s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Lighting Upgrades</h2>
						</div>

						<p>If your old system is starting to give you a lot of problems or if you have an older high
							voltage system, we can update it to the latest which will save you money in the long run and
							increase the beauty of your home. </p>

					</div>

				</div>

			</div>
		</div>
	</div>


	<!--- Section 4 --->
	<div id="LightingAutomation" class="about-area gray-bg section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".4s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Innovative Lighting Automation</h2>
						</div>
						<p>This is one of our favorite services. Technology has come a long way since we first started
							installing landscape lights. We offer home automation so that you can program the lights to
							work precisely how you want them and you can control them remotely from accross the globe.
							They work with Alexa or Google Home Assistant.</p>
						<br>
					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/service/home-automation.jpg" alt="Lorem Pixel image">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--- Section 5 --->
	<div id="RepairAndMaintenance" class="about-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft" data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/info/repairs.jpg" alt="Repair and Maintenance">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".3s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Repair and Maintenance</h2>
						</div>


						<p>Something not working quite right with your existing system? It happens. We can troubleshoot
							it and come up with the best fix so that it does not continue happening. In some cases it
							becomes necessary to replace a fixture that has been damaged or not aged well with one of
							superior quality.</p>

					</div>

				</div>

			</div>
		</div>
	</div>


	<!--- Section 6 --->
	<div id="CommercialServices" class="about-area gray-bg section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp align-self-center mb-4 mb-lg-0"
					data-wow-delay=".4s">
					<div class="info-content-area">
						<div class="section-title">
							<!-- <h6>Introduction</h6> -->
							<h2>Commercial Lighting</h2>
						</div>

						<p>We're not limited to just homes. We've helped a lot of business with lighting projects that
							attract more customers or make it more enjoyable to their employees. Awaken your business's
							unique architecture and create an elegant, inviting atmosphere with professional outdoor
							lighting form L&L Outdoor Lighting Co.</p>
						<br>
					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
					<div class="about-bg">
						<img src="/assets/img/service/commercial-lighting.jpg" alt="Lorem Pixel image">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Frequently Asked Question -->

	<div class="faq-section section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-title">
						<h6>Customer Query</h6>
						<h2>Frequently Asked Question</h2>
					</div>
					<div class="styled-faq">

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							<div class="panel panel-default">
								<div class="panel-heading active" role="tab" id="headingThree">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
											aria-expanded="false" aria-controls="collapseThree">
											Why should I choose L&L Outdoor Lighting Co.?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseThree" class="panel-collapse collapse show" role="tabpanel"
									aria-labelledby="headingThree">
									<div class="panel-body">
										At L&L Outdoor Lighting Co., everything we do, every single day, is with the
										intention of creating and delivering products that allow people to see what
										matters most to them. We will do that by relentlessly pursuing ever better
										quality, ensuring continued innovation, always going one step further in our
										commitment to exceptional customer service and education, as well as creating
										on-trend designs that are both stylish and “life-stylish,” promising to deliver
										project success for you.

									</div>
								</div>
							</div>


							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne">
											What kind of deposit do you require for an installation.
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingOne">
									<div class="panel-body">
										We typically require a 50% deposit.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
											aria-expanded="false" aria-controls="collapseTwo">
											Do you accept credit card payments?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingTwo">
									<div class="panel-body">
										Absolutely. We accept all major credit cards. We take almost any form of
										payments except bitcoins.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingElectricBill">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#electricBill"
											aria-expanded="false" aria-controls="electricBill">
											Will my electricity bill increase significantly with landscape lights?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="electricBill" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="ElectricBill">
									<div class="panel-body">
										We use the latest in LED low voltage lighting technology. Most installations
										actually consome less electricity than the lightbulbs used in a bedrooom.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFour">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseFour" aria-expanded="true"
											aria-controls="collapseFour">
											How long does it take to complete a typical installation.
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingFour">
									<div class="panel-body">
										Most installations can be completed in a day. While the installation might occur
										during the day time, we double check how everything looks at night so that it's
										perfect.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading active" role="tab" id="headingFive">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
											aria-expanded="false" aria-controls="collapseFive">
											What kind of warranties do you offer.
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingFive">
									<div class="panel-body">
										We offer a <i>limited</i> lifetime warranty on parts for all brass
										 fixtures we install along with a 2 year craftsmanship warranty.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSix">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
											aria-expanded="false" aria-controls="collapseSix">
											Are you taking any Covid-19 safety precautions?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingSix">
									<div class="panel-body">
										L&L Outdoor Lighting Co. is regularly monitoring COVID-19 and its continued impact
										to our community. As we continue to operate and serve you during these
										unprecedented times, please note that we are doing so with your health and
										safety as our top priority. We are closely following all CDC guidlines.
									</div>
								</div>
							</div>

							<!-- <div class="panel panel-default">
								<div class="panel-heading active" role="tab" id="headingSeven">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
											aria-expanded="false" aria-controls="collapseSeven">
											Who do I contact for press related inquaries?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingSeven">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
										richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
										brunch.
									</div>
								</div>
							</div> -->

							<!-- <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingEight">
									<h6 class="panel-title">
										<a title="Toggle display FAQ" class="collapsed" role="button"
											data-toggle="collapse" data-parent="#accordion" href="#collapseEight"
											aria-expanded="false" aria-controls="collapseEight">
											Are you open a learning online store?
											<i class="fa fa-angle-up"></i>
											<i class="fa fa-angle-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingEight">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
										richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
										brunch.
									</div>
								</div>
							</div> -->

						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="question-section">
						<h6>Have Other Questions?</h6>
						<form name="questions-form" method="POST" data-netlify="true" data-netlify-recaptcha="true">
							<label class="visually-hidden" for="name">Name:</label>
							<input type="text" name="name" id="name" required placeholder="Full Name">
							<label class="visually-hidden" for="email">Email:</label>
							<input type="email" name="email" id="email" required placeholder="Your E-mail">
							<label class="visually-hidden" for="message">Message:</label>
							<textarea name="message" id="message" cols="30" rows="10" required
								placeholder="How can help you?"></textarea>
							<div class="g-recaptcha" data-sitekey="6LcONUoaAAAAAImt_sLs-TAmaWYOy7Fsgn59axoF" data-callback="recaptchaCallbackServiceForm"></div>

							<button type="submit" name="submit" disabled id="service-form-submit-button">Your Question</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Pricing Section -->
	<!-- <div class="pricing-section gray-bg section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h6>Pricing</h6>
						<h2>Typical Lighting Installation Costs</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-price-item wow fadeInLeft" data-wow-delay=".3s">
						<h5>Basic</h5>
						<div class="price-box">
							<p><b>$155</b>/Fixture</p>
							<p>Perfect for Residential Interior Design</p>
						</div>
						<div class="price-list">
							<ul>
								<li>Interior Design</li>
								<li>Floor Planning</li>
								<li>Home Decoration</li>
								<li>Free Drawing</li>
							</ul>
						</div>
						<div class="main-btn small-btn">Get Quote</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-price-item wow fadeInUp" data-wow-delay=".4s">
						<h5>Standard</h5>
						<div class="price-box">
							<p><b>$175</b>/Fixture</p>
							<p>Perfect for Residential Interior Design</p>
						</div>
						<div class="price-list">
							<ul>
								<li>Interior Design</li>
								<li>Floor Planning</li>
								<li>Home Decoration</li>
								<li>Free Drawing</li>
							</ul>
						</div>
						<div class="main-btn small-btn">Get Quote</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-price-item wow fadeInRight" data-wow-delay=".5s">
						<h5>Advanced</h5>
						<div class="price-box">
							<p><b>$215</b>/Fixture</p>
							<p>Perfect for Residential Interior Design</p>
						</div>
						<div class="price-list">
							<ul>
								<li>Interior Design</li>
								<li>Floor Planning</li>
								<li>Home Decoration</li>
								<li>Free Drawing</li>
							</ul>
						</div>
						<div class="main-btn small-btn">Get Quote</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-price-item wow fadeInLeft" data-wow-delay=".3s">
						<h5>Premium</h5>
						<div class="price-box">
							<p><b>$250</b>/Fixture</p>
							<p>Perfect for Residential Interior Design</p>
						</div>
						<div class="price-list">
							<ul>
								<li>Interior Design</li>
								<li>Floor Planning</li>
								<li>Home Decoration</li>
								<li>Free Drawing</li>
							</ul>
						</div>
						<div class="main-btn small-btn">Get Quote</div>
					</div>
				</div>

			</div>
		</div>
	</div> -->




	<!-- <h3>My Google Maps Demo</h3> -->
	<!--The div element for the map -->
	<!-- <div id="map"></div> -->
</main>
{% endblock %}
