{% extends '_layout.html' %} {% set page_title = 'single-blog' %} {% block
content %}
<main role="main">
  <!-- Breadcroumb Area -->
  <div class="breadcroumb-area bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Blog Details</h1>
            <h5><a title="Home" href="/">Home</a> / Single Blog</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog Area  -->

  <div id="blog-page" class="blog-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="single-blog-wrap">
            <img src="/assets/img/blog/blog-bg-1.jpg" alt="Lorem pixel image" />
            <div class="blog-meta">
              <span><i class="las la-user"></i>Admin</span>
              <span><i class="las la-calendar"></i>August 10, 2019</span>
              <span><i class="las la-comments"></i>2 Comments</span>
            </div>
            <h3>Principles for effective architecture design</h3>
            <p>
              Left fruit Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Nobis saepe fuga sunt, atque ratione adipisci autem ducimus,
              quisquam sapiente magnam assumenda modi optio, officiis incidunt
              aut consequuntur commodi ipsa eos!
            </p>
            <p>
              Quas optio sapiente sunt excepturi adipisci temporibus maiores
              quos sequi alias? Illo eaque error officia unde, quos expedita
              debitis fugit? Dolorum, deleniti? Quidem deserunt, consequatur
              officia voluptatum amet possimus assumenda ratione? Optio maiores
              doloremque numquam facere eaque architecto quas obcaecati,
              necessitatibus, ipsam dolorem accusamus soluta odio delectus atque
              laborum, a incidunt nesciunt.
            </p>
            <p>
              Expedita aspernatur, molestiae veritatis aut placeat et corporis,
              tempora ad tenetur quo blanditiis sapiente sint reiciendis, eius
              quidem hic vitae perspiciatis illo officia ullam. Et quos in
              necessitatibus doloremque nostrum quaerat quod repellat incidunt
              commodi cumque. Sed eos explicabo voluptate deleniti hic magni
              officia omnis atque consequatur quo ratione repellat, veniam,
              pariatur aliquam minima dolor fugit quisquam quis ipsum minus nam
              maiores laborum asperiores quasi. Nisi minima, nostrum natus
              excepturi nemo, unde provident eaque velit ea optio laudantium
              quos illum eveniet quia molestias animi placeat sint delectus
              error consequatur dolore. Delectus, ad?
            </p>
            <h5>Design Inspiration</h5>
            <p>
              Consectetur adipisicing elit. Amet, omnis tempora? Quo aut ea sunt
              nisi dolor dolorem, eum id et architecto tempore nostrum autem
              tempora adipisci temporibus excepturi? Quibusdam? Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Eaque exercitationem
              mollitia fuga, tempora dolor tenetur voluptatibus nemo? In, fugiat
              ipsum.
            </p>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-30">
                <img
                  class="blog-inside"
                  src="/assets/img/blog/single-blog-bg-1.jpg"
                  alt="Lorem pixel image"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <img
                  class="blog-inside"
                  src="/assets/img/blog/single-blog-bg-2.jpg"
                  alt="Lorem Pixel image"
                />
              </div>
            </div>

            <h5>Unique Design Idea</h5>
            <p>
              T-shirt sellers need custom T-shirt printing companies to provide
              high-quality printing solutions. Creating an exceptional t-shirt
              design is not enough to sell the apparel. You also need the
              services of printing companies. They offer you many printing
              options and pricing packages
            </p>
            <hr />
            <br />
            <div class="author-profile">
              <img src="/assets/img/client-img.jpg" alt="Lorem pixel image" />
              <div class="author-info">
                <h6>Harvert Milan</h6>
                <p>
                  While publishing our article in a journal, to claim it as our
                  article, where should be our name in the authors list, the
                  first name
                </p>
                <div class="social-icon">
                  <ul>
                    <li>
                      <a title="Facebook" href="#" class=""
                        ><i class="lab la-facebook-f"></i
                      ></a>
                    </li>
                    <li>
                      <a title="Twitter" href="#" class=""
                        ><i class="lab la-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a title="Pinterest" href="#" class=""
                        ><i class="lab la-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a title="Instagram" href="#" class=""
                        ><i class="lab la-instagram"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr />

            <div class="comments-section">
              <h5>Comments (2)</h5>
              <div class="single-comments-section">
                <img
                  src="/assets/img/client-img-2.jpg"
                  alt="Lorem pixel image"
                />
                <p><b>Rasel Arnold</b><span>November 29, 2019</span></p>
                <p>
                  Though author order shouldn't matter, industry custom and
                  practical limitations say otherwise.
                </p>
                <p><a title="Reply" href="#" class="reply-btn">Reply</a></p>
              </div>

              <div class="single-comments-section">
                <img
                  src="/assets/img/client-img-3.jpg"
                  alt="Lorem pixel image"
                />
                <p><b>Ryans Joseph</b><span>November 29, 2019</span></p>
                <p>
                  Though author order shouldn't matter, industry custom and
                  practical limitations say otherwise.
                </p>
                <p><a title="Reply" href="#" class="reply-btn">Reply</a></p>
              </div>
            </div>
          </div>
          <div class="comments-form">
            <h3>Leave A Reply</h3>
            <p>
              Your email address will not be published. Required fiels are
              marked
            </p>
            <div class="row">
              <div class="col-lg-12">
                <label for="message" class="visually-hidden">Comment:</label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="10"
                  placeholder="Write Your Comment"
                  required
                ></textarea>
              </div>
              <div class="col-lg-6">
                <label for="name" class="visually-hidden">Name:</label>
                <input type="text" placeholder="Your Name" id="name" required />
              </div>
              <div class="col-lg-6">
                <label for="email" class="visually-hidden">Email:</label>
                <input
                  type="email"
                  placeholder="Email here"
                  id="email"
                  required
                />
              </div>
              <div class="col-lg-12">
                <button type="submit" name="submit">Post Comment</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-search">
            <form action="/blog.html">
              <label for="search" class="visually-hidden">Search:</label>
              <input id="search" type="search" placeholder="Search here" />
              <button type="submit"><i class="las la-search"></i></button>
            </form>
          </div>
          <div class="blog-category">
            <h5>Categories</h5>
            <a title="Carpentary (8)" class="active" href="#">Carpentary (8)</a>
            <a title="Electrical (6)" href="#">Electrical (6)</a>
            <a title="Flooring (4)" href="#">Flooring (4)</a>
            <a title="Industrial (5)" href="#">Industrial (5)</a>
            <a title="Maintenance (2)" href="#">Maintenance (2)</a>
          </div>
          <div class="recent-post">
            <h5>Recent Post</h5>
            <img
              src="/assets/img/blog/recent-post-bg.jpg"
              alt="Lorem pixel image"
            />
            <div class="single-recent-post">
              <h6>Smart Cities are going green because it costs</h6>
              <p class="blog-date">
                <i class="las la-calendar"></i>June 10, 2020
              </p>
            </div>
            <img
              src="/assets/img/blog/recent-post-bg-2.jpg"
              alt="Lorem pixel image"
            />
            <div class="single-recent-post">
              <h6>Auto desk spen $1.15 bilion of two startups</h6>
              <p class="blog-date">
                <i class="las la-calendar"></i>May 30, 2020
              </p>
            </div>
            <img
              src="/assets/img/blog/recent-post-bg-3.jpg"
              alt="Lorem pixel image"
            />
            <div class="single-recent-post">
              <h6>Five important practices for contructions</h6>
              <p class="blog-date">
                <i class="las la-calendar"></i>April 18, 2020
              </p>
            </div>
          </div>
          <div class="archive">
            <h5>Archive</h5>
            <a title="Construction Work (25)" class="active" href="#"
              >Construction Work (25)</a
            >
            <a title="Civil Engineering (18)" href="#"
              >Civil Engineering (18)</a
            >
            <a title="Architechture (32)" href="#">Architechture (32)</a>
            <a title="Interior Design (13)" href="#">Interior Design (13)</a>
            <a title="Industrial Solution (04)" href="#"
              >Industrial Solution (04)</a
            >
          </div>
          <div class="popular-tag">
            <h5>Popular Tags</h5>
            <span class="active"
              ><a title="industrial" href="#">industrial</a></span
            >
            <span><a title="factory" href="#">factory</a></span>
            <span><a title="construction" href="#">construction</a></span>
            <span><a title="civil" href="#">civil</a></span>
            <span><a title="architechture" href="#">architechture</a></span>
            <span><a title="interior" href="#">interior</a></span>
          </div>
          <div class="helpline-section">
            <div class="helpline-content text-center">
              <h4>
                Need <br />
                Consultancy Help
              </h4>
              <p>Gatherin galso sprit moving shall flow</p>
              <button type="submit">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
