{% extends '_layout.html' %} {% set page_title = 'sitemap' %} {% block
custom_title %}
<title>
  Landscape Lighting Design Services | Lighting Installation | Innovative
  Exterior Lighting Installation and Design by Peachtree Lightscapes
</title>
{% endblock %} {% block content %}
<main role="main">
  <!-- Breadcroumb Area -->

  <div class="breadcroumb-area bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Site Map</h1>
            <h5><a title="Home" href="/">Home</a> / Site Map</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="/"><strong>Home</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/services.html"><strong>Services</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/articles.html"><strong>Lighting Tips</strong></a>
              <ul>
                <li class="list-group-item">
                  <a href="/articles/diy.html"
                    >Why "Do-it-yourself" Is Not Always Good</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/articles/led-lighting-benefits.html"
                    >The Benefits Of LED Low Voltage Lighting</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/articles/home-automation.html"
                    >Simplify Life With Home Automation While Adding Security</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/articles/dream-backyard-oasis.html"
                    >How To Create Your Dream Backyard Oasis in Four Steps</a
                  >
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <a href="/our-work.html"><strong>Our Work</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/about.html"><strong>About Us</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/contact.html"><strong>Contact Us</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/quote-request.html"><strong>Quote Request</strong></a>
            </li>
            <li class="list-group-item">
              <a href="/terms-and-conditions.html"
                ><strong>Terms and Conditions</strong></a
              >
            </li>
            <li class="list-group-item">
              <a href="/privacy-policy.html"><strong>Privacy Policy</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <style>
    .section-padding ul li a {
      font-size: large;
    }
    .section-padding ul li a :hover {
      color: #dfb163;
    }
    .list-group-item li a:hover {
      color: #dfb163;
    }
  </style>
</main>
{% endblock %}
