{% extends '_layout.html' %} {% set page_title = 'Thank You' %} {% block
custom_title %}

<title>
  RTP Landscape Lighting| Outdoor Lighting Specialists | Premiere Landscape
  Lighting Company
</title>

{% endblock %} {% block content %}

<main>
  <div class="about-area section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              src="/assets/img/headers/backyard.jpg"
              alt="Eddy Maldonado, Founder"
            />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp"
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <h2>Thank You! <br /><b>You are all set</b></h2>
            </div>

            <p>
              Thanks for asking us to quote you on your landscape lighting
              project! We look forward to helping you find the best lighting for
              your home. An outdoor lighting expert will reach out to you within
              the next business day to get more details from you.
            </p>

            <p>All the best,</p>

            <h6>RTP Landscape Lighting</h6>

            <br />

            <div class="row">
              <div class="col-lg-8">
                <div
                  class="row"
                  style="border-left: 5px solid #dfb163; height: 100%"
                >
                  <div class="col-lg-7 align-self-center">
                    <div>
                      <a class="btn btn-sm main-btn" href="/" role="button"
                        >Continue to homepage</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
