<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no" />
  {% block custom_title %}
  <title>Luxury Outdoor Lighting Services | Captivating Landscape Lighting by L&L Outdoor Lighting | Peachtree City, Atlanta, Fayetteville, Newnan, Sharpsbug, Senoia, Tyrone, and Fairburn</title>
  {% endblock %}
  <meta name="author" content="L&L Outdoor Lighting" />
  <meta name="description"
    content="
  L&L Outdoor Lighting LLC is the premier source for all your outdoor lighting needs. We install landscape lighting systems for any style or application. Request A Quote. Unique Designs. Professional Staff. Innovative Services." />
  <meta name="Keywords"
    content="L&L Outdoor Lighting, landscape lighting systems, outdoor living areas, electrical services, pathway lighting, up lighting, led lighting, string lighting, exterior lighting, lighting repair, lighting design, free lighting consultations, high quality materials, satisfaction guaranteed, affordable prices, residential lighting, commercial buildings lighting, deck and pool lighting, high quality fixtures,newest technology, stunning landscape lighting designs" />
  <!-- Robots, caching and expirations management for my website -->
  <meta name="”robots”" content="”index," follow” />
  <meta name="copyright" content="&copy; 2021 by L&L Outdoor Lighting." />
  <meta http-equiv="expires" content="Mon, 10 May 2021 10:22:09 GMT" />
  <meta http-equiv="cache-control" content="public, max-age=604800" />
  <!--Setup Canonical link-->
  <link rel="canonical" href="" />
  <!--Favicon-->
  <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <!-- Font Awesome CSS-->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
  <!-- preload the fonts used by line awesome -->
  <link rel="preload" href="/assets/fonts/la-solid-900.woff2" as="font" crossorigin="anonymous" />
  <link rel="preload" href="/assets/fonts/la-brands-400.woff2" as="font" crossorigin="anonymous" />
  <!-- Line Awesome CSS -->
  <link rel="stylesheet" href="/assets/css/line-awesome.min.css" />
  <!-- Animate CSS-->
  <link href="/assets/css/animate.css" rel="stylesheet" />
  <!-- Bar Filler CSS -->
  <link href="/assets/css/barfiller.css" rel="stylesheet" />
  <!-- Magnific Popup Video -->
  <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
  <!-- Flaticon CSS -->
  <link href="/assets/css/flaticon.css" rel="stylesheet" />
  <!-- Owl Carousel CSS -->
  <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
  <!-- Style CSS -->
  <link href="/assets/css/style.css" rel="stylesheet" />
  <!-- Responsive CSS -->
  <link href="/assets/css/responsive.css" rel="stylesheet" />
  <!-- Setup Schema Markup -->
  <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "L&L Outdoor Lighting",
      "alternateName": "Luxury Outdoor Lighting Services | Captivating Landscape Lighting by L&L Outdoor Lighting | Peachtree City, Atlanta, Fayetteville, Newnan, Sharpsbug, Senoia, Tyrone, and Fairburn",
      "url": "http://lloutdoorlighting.com"
    }
  </script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178336089-3"></script>


</head>


<!-- Pre-Loader -->
<div id="loader">
  <div class="loading">
    <div></div>
  </div>
</div>

<!-- header -->
{% include "partials/header.html" %}

<!-- the main page content -->
{% block content %}
<main role="main">
  <p>Insert content here</p>
</main>
{% endblock %}

<!-- footer -->
{% include "partials/footer.html" %}

<!-- Scroll Top Area -->
<a title="Back to top" href="#top" class="go-top"><i class="las la-angle-up"></i></a>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<!-- Wow JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- Way Points JS -->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<!-- Counter Up JS -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Isotope JS -->
<script src="/assets/js/isotope-3.0.6-min.js"></script>
<!-- Magnific Popup JS -->
<script src="/assets/js/magnific-popup.min.js"></script>
<!-- Sticky JS -->
<!-- <script src="/assets/js/jquery.sticky.js"></script> -->
<!-- Progress Bar JS -->
<script src="/assets/js/jquery.barfiller.js"></script>
<!-- Main JS -->


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
  const observer = lozad('.lozad', {
    rootMargin: '10px 0px', // syntax similar to that of CSS Margin
    threshold: 0.1, // ratio of element convergence
    enableAutoReload: true, // it will reload the new image when validating attributes changes
  });
  observer.observe();
</script>

<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-178336089-3');
</script>



</script>
<script src="/assets/js/main.js"></script>
<script>
  function recaptchaCallbackContactForm() {

    $('#contact-form-submit-button').removeAttr('disabled');
  };

  function recaptchaCallbackOurWorkForm() {
    $('#our-work-form-submit-button').removeAttr('disabled');
  };

  function recaptchaCallbackQuoteRequestForm() {
    $('#quote-request-form-submit-button').removeAttr('disabled');
  };

  function recaptchaCallbackServiceForm() {
    $('#service-form-submit-button').removeAttr('disabled');
  };

  function recaptchaCallbackNewsLetterForm() {
    $('#newsletter-form-submit-button').removeAttr('disabled');
  };
</script>

</body>
</html>
