<!-- Footer Area -->
<footer class="footer-area">
  <div class="container">
    <div class="footer-up">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="logo">
            <a title="Home" href="index.html"
              ><img
                src="/assets/img/peachtree_hlogo.png"
                alt="Peachtree Lightscapes logo"
                style="min-height: 70px"
            /></a>
            <!--If you use text logo instead of img logo-->
            <!--<a class="navbar-brand" href="index.html"><b>ARCHI</b>PIX</a>-->
          </div>
          <p>
            With more than 10 years of experience in outdoor lighting design and
            installation, Peachtree Lightscapes creates beautifully illuminated
            outdoor landscapes that welcome and delight.
          </p>
          <div class="social-area">
            <a
              title="Facebook"
              href="https://www.facebook.com/Peachtree-Lightscapes-109355437692660"
              target="_blank"
              ><i class="lab la-facebook-f"></i
            ></a>
            <a title="Instagram" href="#" target="_blank"
              ><i class="lab la-instagram"></i
            ></a>
            <!-- <a title="Twitter" href="#"><i class="lab la-twitter"></i></a>
            <a title="Skype" href="#"><i class="la la-skype"></i></a> -->
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 com-sm-12">
          <h6>Useful Links</h6>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <a title="About us" href="/about.html">About Us</a>
                  <a title="Services" href="/services.html">Services</a>
                  <a title="Our Work" href="/our-work.html">Our Work</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>
                  <a title="Lightning Tips" href="/articles.html"
                    >Lighting Tips</a
                  >
                  <a title="About Us" href="/about.html">About Us</a>
                  <a title="Contact Us" href="/contact.html">Contact Us</a>
                  <a
                    title="Client Login"
                    href="https://clienthub.getjobber.com/client_hubs/6bbb840b-6436-44d4-b111-f1d505acbb79/login/new"
                    >Customer Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <h6>Contact Us</h6>
          <div class="contact-info">
            <p><i class="las la-clock"></i> Mon-Fri 08:00 a.m - 06:00 p.m</p>
            <p>
              <i class="las la-map-marker"></i> 1992 GA-54 W <br />
              &nbsp;&nbsp;&nbsp;&nbsp; Peachtree City, GA 30269
            </p>
            <p><i class="las la-phone"></i> ‪‪(404) 946-8250‬</p>
            <p><i class="las la-envelope"></i> info@peachtreelightscapes.com</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="subscribe-form">
            <h6>Newsletter Sign up</h6>
            <p>
              Sign up to receive occasional specials and promotions, or to just
              stay up to date on our lighting tips.
            </p>
            <br />
            <form
              name="newsletter-form"
              method="POST"
              data-netlify="true"
              data-netlify-recaptcha="true"
            >
              <label for="email-suscribe" class="visually-hidden">Email:</label>
              <input
                name="email"
                type="email"
                placeholder="Your email"
                id="email-suscribe"
                required
              />
              <div
                class="g-recaptcha"
                data-sitekey="6LcONUoaAAAAAImt_sLs-TAmaWYOy7Fsgn59axoF"
                data-callback="recaptchaCallbackNewsLetterForm"
              ></div>
              <button
                type="submit"
                class="main-btn"
                disabled
                id="newsletter-form-submit-button"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="copyright-line">
          © 2021 Peachtree Lightscapes. All rights reserved.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="privacy">Privacy Policy | Terms &amp; Conditions</p>
      </div>
    </div>
  </div>
</div>
