{% extends '_layout.html' %}
{% set page_title = 'locations' %}
{% block custom_title %}
  <title>Locations | L&L Outdoor Lighting Co.</title>
{% endblock %}
{% block content %}
  <main role="main">
    <div class="breadcroumb-area breadcroumb-area-lightingtips bread-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcroumb-title text-center">
              <h1>L&L Outdoor Lighting Service Area</h1>
              <h5>
                <a title="home" href="/" class="bread-crumb-space">Home</a> / Service Areas
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="blog-2" class="blog-area gray-bg section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <h2>Providing the Excellence in Outdoor Lighting Design to the <b>Greater Triangle Area</b> Since 2003</h2>
              <p>L&L Outdoor Lighting Co has proudly served the greater Raleigh and Triangle area since 2003. Our portfolio of work can be found across Wake, Johnston, Durham, Orange, and Lee Counties:</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul id="locations" class="d-flex flex-column">
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./durham.html">Durham</a></li>
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./holly-springs.html">Holly Springs</a></li>
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./cary.html">Cary</a></li>
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./raleigh.html">Raleigh</a></li>
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./morrisville.html">Morrisville</a></li>
              <li class="mb-4"><i class="las la-map-marker"></i> <a href="./wake-forest.html">Wake Forest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}