{% extends '_layout.html' %} {% set page_title = 'Raleigh Lighting Services|
Outdoor Lighting Specialists' %} {% block custom_title %}
<title>
  Raleigh, North Carolina Lighting Services| Outdoor Lighting Specialists
</title>
{% endblock %} {% block content %}

<main role="main">
  <div class="breadcroumb-area breadcroumb-area-lightingtips bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>
              L&L Outdoor Lighting is proud to serve Raleigh, North Carolina
            </h1>
            <h5>
              <a title="home" href="/" class="bread-crumb-space">Home</a> /
              Service Areas
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="blog-2" class="blog-area gray-bg section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h6>L&L Outdoor Lighting</h6>
            <h2>
              Providing the Best Landscape Lighting Design and Installation
              Services.
            </h2>
            <p>
              L&L Outdoor Lighting is proud to be locally owned and operated in
              Wake County. We are your number one choice for designing,
              installing, and repairing outdoor landscape lighting systems for
              your home or business. With over ten years of combined experience,
              we have brought unique outdoor landscape lighting designs and
              installations to our CaryRaleigh, NC, customers.
            </p>
            <p>
              We understand that your home is your biggest asset and go the
              extra mile to ensure you are happy with our outdoor lighting
              system. We take pride in adding to your Raleigh home value and
              having your home shine into the evening hours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="designandinstall"
    class="about-area section-padding"
    style="padding-top: 50px"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              src="/assets/img/service/landscape-design.jpg"
              alt="Lorem Pixel image"
            />
          </div>
        </div>
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            order-lg-2
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Lighting Design</h2>
            </div>
            <p class="heading">
              We at L&L Outdoor Lighting understand that new exterior landscape
              lighting is hard to vision before you buy. So we offer design
              rendering services so you can see our design in the comfort of
              your home. This rendering service provides you, our valued Raleigh
              customer, the ability to see our work before installation. Each
              one of our Raleigh installations is unique and custom. Our design
              approach enables us to have an outstanding result every time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="LightingDesign" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Outdoor Lighting Products</h2>
            </div>
            <p>
              We are committed to installing only the highest quality fixtures
              in the industry. Our virgin brass fixtures are designed in the
              United States and tested in by our quality team. Our owner,
              Skeets, is a lighting designer that has installed and serviced
              lighting systems all over the United States. He uses his knowledge
              to only install the best landscape lighting products for your
              Raleigh home.
            </p>
            <br />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              src="/assets/img/service/home-automation.jpg"
              alt="Lorem Pixel image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="LightingUpgrades" class="about-area section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              src="/assets/img/service/lighting-upgrades.jpg"
              alt="Lorem Pixel image"
            />
          </div>
        </div>
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            order-lg-2
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".3s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Landscape Lighting Installation</h2>
            </div>
            <p>
              Having the best installation crews is our specialty. Having your
              new landscape lighting system properly installed on your Raleigh
              property is our mission. We at L&L Outdoor Lighting take pride in
              being tidy, professional, and efficient. We use the latest
              technology and equipment to bury the underground cables, so you
              never knew we were even there. Each of our Raleigh landscape
              lighting installations comes standard with app-controlled timers.
              Our App enables our Raleigh customers to control their lights from
              Alexa, Google, and from anywhere in the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="LightingAutomation" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div
          class="
            col-lg-6 col-md-12 col-sm-12
            wow
            fadeInUp
            align-self-center
            mb-4 mb-lg-0
          "
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <!-- <h6>Introduction</h6> -->
              <h2>Residential Outdoor Lighting for Raleigh Homes</h2>
            </div>
            <p>
              Ensure your residential home in Raleigh looks as impressive during
              the night as it does during the day with a custom design and
              installation by L&L Outdoor Lighting. Our design experts and
              installation professionals will help you enjoy your living spaces
              into the evening hours with energy-efficient LED lighting
              products. Increase your homes value, security, and improve curb
              appeal with a quality outdoor lighting installation for your
              Raleigh home.
            </p>
            <br />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft"
          data-wow-delay=".3s"
        >
          <div class="about-bg">
            <img
              src="/assets/img/service/home-automation.jpg"
              alt="Lorem Pixel image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about-3" class="about-area gray-bg section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 wow fadeInUp"
          data-wow-delay=".4s"
        >
          <div class="info-content-area">
            <div class="section-title">
              <h6>We are proud to offer the following</h6>
              <h2>
                Design and Installation Landscape Lighting Services for
                <b>Raleigh Residents</b>:
              </h2>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Outdoor Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Landscape Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Path Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Downlighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Moonlighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Bistro Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Deck Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Pool Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Patio Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Tree Lighting
                </p>
              </div>
              <div class="col-md-6">
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Hardscape Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Flagpole Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Colored Lighting RGBW
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Holiday Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  App/Phone Controlled Lighting
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Landscape Lighting Repair
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Bulb Replacement
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Lighting Design
                </p>
                <p class="highlight">
                  <i class="las la-check-square"></i>
                  Lighting Design Rendering
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="service-3" class="services-area section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-7 col-lg-9">
          <img
            src="/assets/img/cities/raleigh-nc.png"
            alt="Raleigh, North Carolina"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-5 col-lg-3">
          <div class="section-title">
            <h6>Want to see your Raleigh home in a new light?</h6>
            <h2 class="side-title">
              Let us <b>design</b> and show you what we can do.
            </h2>
            <p>Call us at <a href="tel:9193748344">(919) 374-8344</a> today.</p>
            <p>We proudly service Raleigh with the following zip codes:</p>
            <div class="row">
              <div class="col">
                <p class="zip">27511</p>
                <p class="zip">27512</p>
              </div>
              <div class="col">
                <p class="zip">27513</p>
                <p class="zip">27518</p>
              </div>
              <div class="col">
                <p class="zip">27519</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>Our Recent Installations in <b>Raleigh</b>:</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="recent-jobs owl-carousel">
              <div class="single-item">
                <img
                  src="/assets/img/slider/cary-park-nc.png"
                  alt="Cary Park, NC"
                  class="img-fluid"
                />
                <h6>Cary Park</h6>
              </div>
              <div class="single-item">
                <img
                  src="/assets/img/slider/lochmere-cary-nc.png"
                  alt="Lochmere Cary, NC"
                  class="img-fluid"
                />
                <h6>Lochmere</h6>
              </div>
              <div class="single-item">
                <img
                  src="/assets/img/slider/macgregor-downs-cary-nc.png"
                  alt="MacGregor Downs, Cary, NC"
                  class="img-fluid"
                />
                <h6>MacGregor Downs</h6>
              </div>
              <div class="single-item">
                <img
                  src="/assets/img/slider/preston-cary-nc.png"
                  alt="Preston Cary, NC"
                  class="img-fluid"
                />
                <h6>Preston</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
