{% extends '_layout.html' %} {% set page_title = 'single-blog' %} {% block
custom_title %}
<title>
  Lighting Tips & Insights by L&L Outdoor Lighting Co. | Why "Do-it-yourself" Is
  Not Always Good
</title>
{% endblock %} {% block content %}
<main role="main">
  <!-- Breadcroumb Area -->

  <div class="breadcroumb-area bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Lighting Tips & Insights</h1>
            <h5>
              <a title="Home" href="/" class="bread-crumb-space">Home</a>
              <a title="Home" href="/articles.html" class="bread-crumb-space"
                >/ Lighting Tips
              </a>
              / Why "Do-it-yourself" Is Not Always Good
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog Area  -->

  <div id="blog-page" class="blog-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="single-blog-wrap">
            <img
              src="/assets/img/blog/diyelectrician.jpg"
              alt="Lorem pixel image"
            />
            <div class="blog-meta">
              <span><i class="las la-user"></i>Gerard Taggert</span>
              <span><i class="las la-calendar"></i>May 19, 2021</span>
            </div>
            <h3>Why "Do-it-yourself" Is Not Always Good</h3>
            <p>
              Many people are tempted to stretch their abilities and see how far
              they can go with their current knowledge and skills. You might be
              a top-notch DIY person, ready to take on a more complicated
              project. Everything else you've done has been a success. So, why
              not? In contrast, overestimating yourself can lead to damaged home
              infrastructure and a visit to the ER.
            </p>
            <p>
              Hiring a professional will ensure your home improvement or repair
              will be done safely, quickly, and be built to last. This fact
              holds true even for top-notch DIY people because many subtle
              things are different from situation to situation. Only someone who
              works in different homes and offices, day after day, has learned
              to see the complete picture and sense all the things that can go
              wrong during a repair or installation, like situations where you
              might electrocute yourself.
            </p>

            <p>
              There are several reasons why homeowners try to get on with home
              improvement projects rather than hiring a professional. With the
              feeling of "Do-it-yourself" as a trend, it is essential to know
              which tasks you can handle yourself and which are best left to
              professionals.
            </p>

            <p>
              You can indeed save some money by doing your renovation projects,
              and you'll feel that you have achieved something. However, it's
              generally the case that when a person is inexperienced at a
              particular task, their lack of knowledge can lead to costly
              mistakes that are expensive to fix. Specialty technology and
              merchandise may seem like the ideal to keep it safe, but if
              mishandled, they can lead to DIY errors and gaps that need to be
              fixed.
            </p>

            <img
              class="blog-inside"
              src="/assets/img/blog/burned-transformer.jpg"
              alt="Burned Transformer"
            />

            <h5>
              Here are four critical repairs you should never do yourself:
            </h5>
            <p>
              <strong>1)</strong> Flawed or sloppy
              <strong>structural repairs and construction work</strong> can
              undermine the foundations and integrity of your entire home. If
              you don't want to call a professional, can you be sure to do a
              responsible job for your home's structural integrity and the
              health and safety of yourself and your family?
            </p>
            <p>
              <strong>2)</strong> When it comes to
              <strong>removing walls and making structural changes</strong> to
              your home, it is best to get a professional and not begin swinging
              the sledgehammer yourself.
            </p>
            <p>
              <strong>3)</strong> As a homeowner,
              <strong>replacing your roof</strong> is one of the most
              significant investments you will make in your home, and it is also
              the most expensive. Up there, roofing is a delicate and arduous
              task that can take a long time. That is why regular inspections
              and roof maintenance are so necessary, as they can help you get
              the most out of your current roof before it's time to buy a new
              one and prevent problems before they occur.
            </p>
            <p>
              <strong>4)</strong> <strong>Electrical repairs</strong> are
              probably the most dangerous a non-professional can attempt. They
              can come at you sideways too. Of course, as a professional, you
              always see and hear stories of the strange predicaments that
              clients create when they go it alone. One story I can tell is
              about a client who called after her husband tried a plumbing
              repair. He dug a hole in his front yard and began a repair near
              the water main, not knowing electrical cables were next to the
              pipes. The client said she looked out the window and saw sparks
              coming from the hole. Fortunately, her husband had gotten out of
              the hole before the water seepage reached the frayed electrical
              cable. Of course, both plumbing and electrical repairs had to be
              completed by professionals.
            </p>
            <p>
              When it's the kind of project a DIY enthusiast can't figure out by
              watching a YouTube video, leave it to the trained and experienced
              professionals working on complex projects.
            </p>
            <img
              class="blog-inside"
              src="/assets/img/blog/transformer-install.jpg"
              alt="Low Voltage Transformer Installation"
            />

            <!-- <hr />
                        <br />
                        <div class="author-profile">
                            <img src="/assets/img/client-img.jpg" alt="Lorem pixel image" />
                            <div class="author-info">
                                <h6>Harvert Milan</h6>
                                <p>
                                    While publishing our article in a journal, to claim it as our
                                    article, where should be our name in the authors list, the
                                    first name
                                </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a title="Facebook" href="#" class=""><i class="lab la-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a title="Twitter" href="#" class=""><i class="lab la-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a title="Pinterest" href="#" class=""><i
                                                    class="lab la-pinterest-p"></i></a>
                                        </li>
                                        <li>
                                            <a title="Instagram" href="#" class=""><i class="lab la-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                        -->
            <!-- <div class="comments-section">
                            <h5>Comments (2)</h5>
                            <div class="single-comments-section">
                                <img src="/assets/img/client-img-2.jpg" alt="Lorem pixel image" />
                                <p><b>Rasel Arnold</b><span>November 29, 2019</span></p>
                                <p>
                                    Though author order shouldn't matter, industry custom and
                                    practical limitations say otherwise.
                                </p>
                                <p><a title="Reply" href="#" class="reply-btn">Reply</a></p>
                            </div>

                            <div class="single-comments-section">
                                <img src="/assets/img/client-img-3.jpg" alt="Lorem pixel image" />
                                <p><b>Ryans Joseph</b><span>November 29, 2019</span></p>
                                <p>
                                    Though author order shouldn't matter, industry custom and
                                    practical limitations say otherwise.
                                </p>
                                <p><a title="Reply" href="#" class="reply-btn">Reply</a></p>
                            </div>
                        </div> -->
          </div>
          <!-- <div class="comments-form">
                        <h3>Leave A Reply</h3>
                        <p>
                            Your email address will not be published. Required fiels are
                            marked
                        </p>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="message" class="visually-hidden">Comment:</label>
                                <textarea name="message" id="message" cols="30" rows="10"
                                    placeholder="Write Your Comment" required></textarea>
                            </div>
                            <div class="col-lg-6">
                                <label for="name" class="visually-hidden">Name:</label>
                                <input type="text" placeholder="Your Name" id="name" required />
                            </div>
                            <div class="col-lg-6">
                                <label for="email" class="visually-hidden">Email:</label>
                                <input type="email" placeholder="Email here" id="email" required />
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" name="submit">Post Comment</button>
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="col-lg-4">
          <div class="recent-post">
            <h5>Other Lighting Tips</h5>
            <a
              title="Go to blog entry"
              href="../articles/led-lighting-benefits.html"
            >
              <img
                src="/assets/img/blog/led-lighting-tiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>The Benefits of LED Low Voltage Lighting</h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>October 10, 2020
                </p>
              </div>
            </a>

            <a title="Go to blog entry" href="../articles/home-automation.html">
              <img
                src="/assets/img/blog/home-automation-tiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>
                  Simplify Life With Home Automation While Adding Security
                </h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>May 30, 2020
                </p>
              </div>
            </a>

            <a
              title="Go to blog entry"
              href="../articles/dream-backyard-oasis.html"
            >
              <img
                src="/assets/img/blog/outdoor-oasis-tiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>Creating the Ultimate Outdoor Nightime Oasis</h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>April 18, 2020
                </p>
              </div>
            </a>
          </div>
          <!-- <div class="archive">
                        <h5>Archive</h5>
                        <a title="Construction Work (25)" class="active" href="#">Construction Work (25)</a>
                        <a title="Civil Engineering (18)" href="#">Civil Engineering (18)</a>
                        <a title="Architechture (32)" href="#">Architechture (32)</a>
                        <a title="Interior Design (13)" href="#">Interior Design (13)</a>
                        <a title="Industrial Solution (04)" href="#">Industrial Solution (04)</a>
                    </div> -->
          <!-- <div class="popular-tag">
                        <h5>Popular Tags</h5>
                        <span class="active"><a title="industrial" href="#">industrial</a></span>
                        <span><a title="factory" href="#">factory</a></span>
                        <span><a title="construction" href="#">construction</a></span>
                        <span><a title="civil" href="#">civil</a></span>
                        <span><a title="architechture" href="#">architechture</a></span>
                        <span><a title="interior" href="#">interior</a></span>
                    </div> -->
          <div class="question-section">
            <h6>Have a Question?</h6>
            <form
              name="questions-form"
              method="POST"
              data-netlify-recaptcha="true"
              data-netlify="true"
            >
              <label class="visually-hidden" for="name">Name:</label>
              <input
                type="text"
                name="name"
                id="name"
                required
                placeholder="Full Name"
              />
              <label class="visually-hidden" for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                required
                placeholder="Your E-mail"
              />
              <label class="visually-hidden" for="message">Message:</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
                required
                placeholder="How can we help you?"
              ></textarea>
              <div data-netlify-recaptcha="true"></div>

              <button type="submit" name="submit">Your Question</button>
            </form>
          </div>
          <div class="helpline-section">
            <div class="helpline-content text-center">
              <h4>Need an Outdoor Lighting Expert?</h4>
              <p>We're here to help you.</p>
              <button type="submit">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
