{% extends '_layout.html' %} {% set page_title = 'single-blog' %} {% block
custom_title %}
<title>
  Lighting Tips & Insights by L&L Outdoor Lighting Co. | Creating Dream Backyard
  Oasis
</title>
{% endblock %} {% block content %}
<main role="main">
  <!-- Breadcroumb Area -->

  <div class="breadcroumb-area bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>Lighting Tips & Insights</h1>
            <h5>
              <a title="Home" href="/" class="bread-crumb-space">Home</a>
              <a title="Home" href="/articles.html" class="bread-crumb-space"
                >/ Lighting Tips
              </a>
              / Creating Dream Backyard Oasis
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog Area  -->

  <div id="blog-page" class="blog-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="single-blog-wrap">
            <img
              src="/assets/img/blog/outdooroasis.jpg"
              alt="Lorem pixel image"
            />
            <div class="blog-meta">
              <span><i class="las la-user"></i>Jennifer Salerno</span>
              <span><i class="las la-calendar"></i>January 4, 2021</span>
            </div>
            <h3>How To Create Your Dream Backyard Oasis in Four Steps</h3>
            <p>
              If ever there was a time to put some love into your backyard, it
              is now. In fact, science tells us that we really don’t need an
              excuse. Communing with the outdoors is proven to lower stress and
              increase positivity. And it has physical benefits too. Our
              interaction with nature lowers blood pressure, relieves tension,
              and even lowers your heart rate.
            </p>

            <p>
              Whether you have a small yard or a large one, creating the
              ultimate outdoor escape is a breeze when you follow a few simple
              steps. As you begin to plan and design your space, envision how it
              can be warm, comforting, and inviting. And even if you already
              have an outdoor area that you love, you can always take it up a
              notch.
            </p>

            <h4>Create Your Dream Backyard Oasis in Four Steps</h4>

            <h5>1) Build a deck</h5>
            <p>
              The first thing you want to do is measure the area you have. Keep
              in mind space for sitting areas, cooking areas, and walkways,
              while considering what will be reserved for grass, plants and
              trees. A general rule is two to one. So keep about two parts of
              the space natural to one part for design.
            </p>

            <p>
              Next, work through some questions. What will you do there? Do you
              want to host cookouts and cocktail parties, or simply kick back
              and relax? The answers to these questions will inform the layout
              of your deck, such as if you want an area to grill.
            </p>

            <p>
              Research shows that adding a raised platform, porch, or deck to
              your outside space can increase your home’s resale value, as well
              as your enjoyment. Decide what type of deck will work best for
              you. Real wood is a natural fit that blends seamlessly with
              nature, but other materials, like manufactured wood can be easier
              to take care of. This Old House has an excellent review of typical
              materials for outdoor decks.
            </p>

            <p>
              If you’re not quite ready for a fullblown deck, there are other
              features you can use for a similar effect. An area filled with
              gravel or stones is a great way to set out some lounge chairs and
              a fire bowl. A walkway adds charm to any outdoor enviroment and
              these can be made of wood, stone pavers, or pebbles.
            </p>

            <p>
              Once you have a sketch in place, Home Depot or Lowe’s can assist
              you with all the building details.
            </p>

            <h5>2) Furnish the space</h5>

            <p>
              Whether you want to relax or entertain (or both), there are dozens
              of options. Reclining adirondak chairs or a couple sleek chaise
              lounges are a classic pick. And outdoor dining sets provide
              another place for dinner and barbecues.
            </p>

            <p>
              If your deck is open to the elements, an umbrella or tent can
              offer some shade on sunny days. Or add coverage while keeping the
              feeling open with a charming wooden pergola or arbor.
            </p>

            <p>
              And don’t forget the decor. A consistent neutral color scheme is
              calming and can be punctuated with pops of color from pillows,
              throws and lanterns. Keep in mind that candles can also double as
              insect repellant.
            </p>

            <h5>3) Landscape your surroundings</h5>
            <p>
              Enjoy the spoils of nature with a range of plants, trees and
              elements that interest you. Some things to consider are privacy,
              location (what grows near you), and focal points like flowering
              trees.
            </p>
            <p>
              Taller trees or an herb-laden trellis can create privacy for you
              when needed. You can use indigenous plants to your area that will
              likely be easier to care for. Flowering trees like weeping cherry
              and dogwood add beauty as seasons change. Flowerbeds create visual
              interest with pops of color, and textural elements like gravel and
              riverstones are effective ways to define the area. You can also
              use bark or stones to create negative space and patterns for
              plants. Feng shui recommends building in elements that enliven the
              senses, like aroma (roses and herbs) and sound (running water or a
              bird feeder). Plants that attract butterflies or sprout produce
              capture the imagination of the little ones too.
            </p>

            <h5>4) Outdoor lighting</h5>
            <p>
              Finally, take your oasis to its pinnacle with outdoor lighting
              design. Lighting is the finishing touch that pulls everything
              together. You will enliven the space for all hours of the day, and
              come to anticipate sunset. There are a multitude of options for
              each kind of space. You may prefer creative lantern lighting,
              spotlighting, or string lighting, or some combination of each.
              This romantic element will allow you, your family, and friends to
              enjoy your outdoor space to its fullest. Make sure to contact L&L
              Outdoor Lighting for a free consultation on all your options.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="recent-post">
            <h5>Other Lighting Tips</h5>
            <a title="Go to blog entry" href="../articles/diy.html">
              <img
                src="/assets/img/blog/diyelectriciantiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>Why "Do-it-yourself" Is Not Always Good</h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>October 10, 2020
                </p>
              </div>
            </a>
            <a title="Go to blog entry" href="../articles/home-automation.html">
              <img
                src="/assets/img/blog/home-automation-tiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>
                  Simplify Life With Home Automation While Adding Security
                </h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>May 30, 2020
                </p>
              </div>
            </a>
            <a
              title="Go to blog entry"
              href="../articles/led-lighting-benefits.html"
            >
              <img
                src="/assets/img/blog/led-lighting-tiny.jpg"
                alt="Lorem pixel image"
              />
              <div class="single-recent-post">
                <h6>The Benefits of LED Low Voltage Lighting</h6>
                <p class="blog-date">
                  <i class="las la-calendar"></i>April 18, 2020
                </p>
              </div>
            </a>
          </div>
          <!-- <div class="archive">
                            <h5>Archive</h5>
                            <a title="Construction Work (25)" class="active" href="#">Construction Work (25)</a>
                            <a title="Civil Engineering (18)" href="#">Civil Engineering (18)</a>
                            <a title="Architechture (32)" href="#">Architechture (32)</a>
                            <a title="Interior Design (13)" href="#">Interior Design (13)</a>
                            <a title="Industrial Solution (04)" href="#">Industrial Solution (04)</a>
                        </div> -->
          <!-- <div class="popular-tag">
                            <h5>Popular Tags</h5>
                            <span class="active"><a title="industrial" href="#">industrial</a></span>
                            <span><a title="factory" href="#">factory</a></span>
                            <span><a title="construction" href="#">construction</a></span>
                            <span><a title="civil" href="#">civil</a></span>
                            <span><a title="architechture" href="#">architechture</a></span>
                            <span><a title="interior" href="#">interior</a></span>
                        </div> -->
          <div class="question-section">
            <h6>Have a Question?</h6>
            <form
              name="questions-form"
              method="POST"
              data-netlify-recaptcha="true"
              data-netlify="true"
            >
              <label class="visually-hidden" for="name">Name:</label>
              <input
                type="text"
                name="name"
                id="name"
                required
                placeholder="Full Name"
              />
              <label class="visually-hidden" for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                required
                placeholder="Your E-mail"
              />
              <label class="visually-hidden" for="message">Message:</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
                required
                placeholder="How can we help you?"
              ></textarea>
              <div data-netlify-recaptcha="true"></div>

              <button type="submit" name="submit">Your Question</button>
            </form>
          </div>
          <div class="helpline-section">
            <div class="helpline-content text-center">
              <h4>Need an Outdoor Lighting Expert?</h4>
              <p>We're here to help you.</p>
              <button type="submit">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
