{% extends '_layout.html' %} {% set page_title = 'blog' %} {% block custom_title
%}
<title>Lighting Tips & Insights by Peachtree Lightscapes</title>
{% endblock %} {% block content %}
<main role="main">
    <!-- Breadcroumb Area -->

    <div class="breadcroumb-area breadcroumb-area-lightingtips bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title text-center">
                        <h1>Lighting Tips & Insights</h1>
                        <h5><a title="Home" href="/" class="bread-crumb-space">Home</a> / Lighting Tips</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="blog-2" class="blog-area gray-bg section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h6>Some Lighting Insight</h6>
                        <h2>Some of Our <b>Tips & Tricks</b></h2>
                        <p>
                            We've compiled some tips based on feedback we've gotten from
                            customers and some of the frequently asked questions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-blog wow fadeInLeft" data-wow-delay=".3s">
                        <a title="Go to blog entry" href="../articles/diy.html" class="blog-img"><img
                                src="/assets/img/blog/diyelectrician.jpg" class="img-fluid"
                                alt="Lorem Pixel image" /></a>
                        <div class="blog-content">
                            <span><a title="Interior Design" href="#">Lighting Tips</a></span>
                            <h3>
                                <a title="Go to blog entry" href="../articles/diy.html">Why "Do-it-yourself" Is Not
                                    Always Good</a>
                            </h3>
                            <div class="blog-date">
                                <p>January 19, 2021</p>
                            </div>
                            <a title="Go to blog entry" href="../articles/diy.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-blog wow fadeInLeft" data-wow-delay=".5s">
                        <a title="Go to blog entry" href="../articles/led-lighting-benefits.html" class="blog-img"><img
                                src="/assets/img/blog/led-lighting.jpg" class="img-fluid" alt="Lorem Pixel image" /></a>
                        <div class="blog-content">
                            <span><a title="Architecture" href="#">Lighting Tips</a></span>
                            <h3>
                                <a title="Go to blog entry" href="../articles/led-lighting-benefits.html">The Benefits
                                    of LED Low
                                    Voltage
                                    Lighting </a>
                            </h3>
                            <div class="blog-date">
                                <p>May 23, 2019</p>
                            </div>
                            <a title="Go to blog entry" href="../articles/led-lighting-benefits.html"
                                class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-blog wow fadeInLeft" data-wow-delay=".3s">
                        <a title="Go to blog entry" href="../articles/home-automation.html" class="blog-img"><img
                                src="/assets/img/blog/homeautomation2.jpg" class="img-fluid"
                                alt="Lorem Pixel image" /></a>
                        <div class="blog-content">
                            <span><a title="Interior Design" href="#">Home Automation</a></span>
                            <h3>
                                <a title="Go to blog entry" href="../articles/home-automation.html">Simplify Life With
                                    Home Automation
                                    While Adding Security</a>
                            </h3>
                            <div class="blog-date">
                                <p>April 10, 2019</p>
                            </div>
                            <a title="Go to blog entry" href="../articles/home-automation.html" class="read-more">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-blog wow fadeInLeft" data-wow-delay=".5s">
                        <a title="Go to blog entry" href="../articles/dream-backyard-oasis.html" class="blog-img"><img
                                src="/assets/img/blog/outdooroasis.jpg" class="img-fluid" alt="Lorem Pixel image" /></a>
                        <div class="blog-content">
                            <span><a title="Architecture" href="#">Outdoor Lighting</a></span>
                            <h3>
                                <a title="Go to blog entry" href="../articles/dream-backyard-oasis.html">Creating the
                                    Ultimate Outdoor
                                    Nightime Oasis</a>
                            </h3>
                            <div class="blog-date">
                                <p>May 23, 2019</p>
                            </div>
                            <a title="Go to blog entry" href="../articles/dream-backyard-oasis.html"
                                class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}